.mz-productlist {
    &-tiled {
        .mz-productlist-item {
            box-sizing: border-box;
            display: -webkit-flex;
            display: flex;
            @media @smallmobile {
                padding: 3px;
                width: 50%;
                float: left;
            }
        }
    }
}
