.mz-l-paginatedlist {
    overflow: auto;
    position: relative;
    .mz-pagingcontrols {
        margin-left: @gutter;
    } 
    .mz-pagenumbers {
        margin-top: 5px;
        margin-left: @gutter;
    }
    .mz-l-tiles {
        clear: both;
    }
    .mz-l-paginatedlist-header {
        .clearfix();
        padding-top: 1px;
        width: 100%;
        z-index: 1;
        .mz-filters-bar {
            & .mz-sort img {
                display: none;
                margin-top: 14px;
                float: left;
            }
            @media @tablet, @desktop {
                height: 57px;
            }
        }
        .mz-l-paginatedlist-header-fixed {
            position: fixed;
            top: 59px;
            left: 0;
            width: 100%;
            z-index: 2;
            @media @tablet {
                top: 49px;
                position: static;
                width: auto;
            }
            .mz-filters-bar {
                background-position-y: -13px;
            }
        }
        .selectric .button:after{
            margin-top: 0;
            @media @tablet {
                margin-top: 26px !important;
            }
        }
    }
    .mz-l-paginatedlist-header.desktop .mz-filters-bar{
        width:auto; 
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .mz-l-paginatedlist-header.desktop{
        .mz-filters-bar::-webkit-scrollbar {
            width: 0.5em;
            height: 0.5em
        }
        .mz-filters-bar::-webkit-scrollbar-button {
            background: #fff;
        }
        .mz-filters-bar::-webkit-scrollbar-thumb {
            background: @secondaryBlue;
        }
        .mz-filters-bar::-webkit-scrollbar {
            width: 8px;
            background-color: #fff;
        }
    }
    .mz-l-paginatedlist-footer {
        text-align: center;
        margin: 25px auto;
        max-width: 1300px;
        .clearfix();
        .mz-pagenumbers {
            margin-top: 0;
            margin-left: 0;
            float: none;
            @media @desktop {
                padding: 0px 6px;
            }
        }
        .mz-pagingcontrols {
            margin-left: 0;
        }
        .mz-pagingcontrols-pagestate-label {
            float: left;
            padding-top: 10px;
            margin-left: 12px;
            font-family: @fontFamily;
            font-size: 12px;
            @media @desktop {
                width: 100%;
                text-align: left;
                margin-bottom: 10px;
                box-sizing: border-box;
                margin-left: 0px;
                padding: 12px; 
            }
        }
        .mz-pagingcontrols-pagesize-label {
            float: right;
            padding-top: 5px;
            margin-right: 11px;
            > span {
                font-family: @fontFamily;
            }
            select {
                background: transparent;
                padding: 5px !important;
                border-radius: 2px;
                width: 110px !important;
                height: auto !important;
                outline: none;
                cursor: pointer;
                color: #6c7680;
            }
            @media @desktop {
                display: none;
            }
        }
    }
    .mz-l-paginatedlist-list {
        .clearfix();
    }
}
@media @tablet {
    .mz-l-paginatedlist {
        .mz-l-paginatedlist-footer {
            .mz-pagenumbers {
                margin-left: 8px !important;
                display: inline !important;
            }
            .mz-pagingcontrols-pagesize-label, .mz-pagingcontrols-pagesort-label {
                margin-right: 6px !important;
                padding-top: 0px !important;
                .selectric-responsive {
                    width: 114px !important;
                }
            }
            .mz-pagingcontrols-pagestate-label {
                padding-top: 10px !important;
                margin-left: 0px !important;
                font-size: 12px !important;
            }
        }
    }
}
@media @smallmobile{
    .mz-l-paginatedlist {
        .desktop {
            display: none;
        }
        .mz-pagingcontrols {
           margin-left: 0px;
        }
        .mz-l-paginatedlist-header-fixed {
            top: 49px;
            position: static;
            width: auto;
        }
        .mz-l-paginatedlist-header {
            background: #fff;
        }
    }
}