.echi-shi-superpage-theme-slider{
	display:none;
}
.at-share-tbx-element .at-share-btn{
	    background-color: transparent !important;
}
.echi-shi-superpage-slider{
	position: relative;
	max-height: 242px;
    overflow: hidden;
	.owl-stage-outer{
		margin:0 0%;
	}
	.owl-stage{
		margin: 0 auto;
	}
	.owl-carousel .item{
		box-shadow:none;
		margin-left:0px;
		width:100%;
	} 
	.owl-item img{
		margin-bottom:8px;
		max-height: 198px !important;
	}
	.mz-productlisting.mz-productlist-tiled{
		border-radius:4px;
		padding: 7px 7px 40px;
	}
	.owl-controls{
		margin:14px;
	}    
	h3{
		padding: 0px 5px;
	}
	.fixed-block{
		padding: 20px;
		margin-top: 0px;
	    left: 53.7%;
	    box-shadow: 0px 6px 15px 0px #A7A7A7;
	    border-radius: 4px;
	    min-height:220px;
	    position: absolute;
	    top:1px;
	    z-index: 2;
	    max-height: 400px;
	    h2{
	    	margin-top:0px;
	    	color: #222;
	    }
	}
	.owl-prev{
		width: 120px !important;
	}
}
 .super-page{
    .pdp-banner-img{
    	height: 370px !important;
    }
    .pdp-banner{
    	
    }
  }
 .banner-buttons {
 	.button-loop{
 		.btn-banner{
 		    margin: 0 .3%;
		    padding: 0 20px;
		    width: 70%;
		    min-height: 65px;
		    max-width: 220px;
 			color: #7c7878;
    		text-transform: uppercase;
 		}  
 	} 
 }
 .banner-buttons .button-loop .btn-banner.active_btn{
    background-color: #0d3762;
    color:#fff;   
 }
 .mz-shi-heading-style{
 	h2{
 		margin-top: 30px;
 	}
 }
 #mz-drop-zone-superpagetheme-theme-slider .mz-content-widget-inner-wrap div span{
 	font-size:13px;
    color: #ababab !important;
 }
 .echi-shi-party-packs{
 	padding: 10px 2.5% 40px;
 	button.personalize.mz-productdetail-addtocart.mz-button.mz-button-large{
 		background-color: #0971ce;
 		&:hover{
 			background-color:#0d3762;
 		}
 		&.is-disabled{
 			background-color: #f7f7f7 !important;
		    color:  @disabled-grey !important;
		    border-color: #989898 !important;
		    cursor: not-allowed;
 		}
 	}
 	.mz-productlisting.mz-productlist-tiled{
 		padding: 10px 7px 70px;
 	}
 	.mz-l-paginatedlist-list{
 		margin-bottom:5px;
 	}
 	.mz-productlisting.mz-productlist-tiled{
 		border-radius: 4px;
 	}
 	h3{
 		margin:10px 0px;
 	}
 	.products-title{
	 	height:auto;
	 	overflow: hidden;
	 	font-size: 14px;   
 	} 
 	.party_packs_btns{
 		margin-top:5px;
 		text-align: center;
    	margin: 0 auto;
    	width: auto;
    	display: inline;
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
	 	.btn-cart{
			padding: 13px 6%;
		    text-transform: uppercase;
		    font-size: 15px;
		    &.is-disabled{
		    	font-size: 14px;
		    }
	 	}
	 	.fixed-wishlist{
	 		padding: 6px 2%;
	 	}
	 	#add-to-wishlist{
	 		background: #fff;
		    background-image: url('../resources/images/wishlist-grey.svg');
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: 35px;
		    padding: 21px 0%;
		    width: 25%;
		    border-radius: 5px;
		    border: 1px solid rgba(128,128,128,0.11);
		    display: inline-block;
		    min-width: 50px;
		    max-width:65px;
	 	}
	 	#add-to-wishlist:hover{
	 		background-image: url('../resources/images/wishlistpink-icon.png');
    		background-size: 52% !important;
    		background-color: #fff !important;
		    border: 1px solid rgba(128,128,128,0.11) !important;
	 	}
	 } 	
 	p span { 
	    padding: 9px 7px 9px 1px;
	}
	.party_packs_price{ 
		color:#666;
		font-size: 12px;
		span{
			font-family:ArvoRegular;
			display: inline-block;
			margin-left: 5px;
		}
		small{
			font-size:14px;
		}
	}
	.party_packs_qty{
		color:#666;
		font-size: 15px;
		display: inline-block;
		float: left;
		width: 43%;
		text-align: right;
		span{			
			margin-left: 5px;
		}
	}
 }
.btnloop_detail{
	width:100%;
	display: none;
	float: left;
	min-height:50px;
	background: #fff;
	.mz-shi-heading-style{
		text-align: center;
		h2{
			text-transform: uppercase;
			text-align: center;
		    color: #0d3762;
		    font-family: ArvoRegular;
		    font-size: 2em;
		    font-weight: normal;
		    margin-bottom: 5px;
		    margin-top: 40px;
		}
		h2:before{
			content: '';
		    display: inline-block;
		    background: url('../resources/images/border-image1.png');
		    background-size: 4px;
		    background-repeat: repeat-x;
		    height: 6px;
		    width: 25%;
		    vertical-align: super;
		    margin: 0 10px;
		}
		h2:after{
			content: '';
		    display: inline-block;
		    background: url('../resources/images/border-image1.png');
		    background-size: 4px;
		    background-repeat: repeat-x;
		    height: 6px;
		    width: 25%;
		    vertical-align: super; 
		    margin: 0 10px;
		}
		.sub_text{
		 	font-size:13px;
		    color: #ababab !important;
		    font-family: ArvoRegular !important;
		    margin:0 3%;
	 	}
 	}
}
.btnloop_detail.active_detail{
	display: inline-block;
	animation: scale 0.5s ease-in-out;
	-webkit-animation: scale 0.5s ease-in-out;
	-moz-animation: scale 0.5s ease-in-out;
	-ms-animation: scale 0.5s ease-in-out;
}
.super_page_why_shop {
	float:left;
	display: inline-block;
    width: 100%;
	.why-shop-wdgt {
	    padding-bottom: 30px;
	    float:left;
	}
}
#mz-drop-zone-supertheme-theme-slider h2:before, #mz-drop-zone-supertheme-theme-slider h2:after{
	vertical-align: middle !important;
}
#mz-drop-zone-superpage-slider{
    background: linear-gradient(#fff,#f2f2f2);
    -webkit-background: linear-gradient(#fff,#f2f2f2);
    -o-background: linear-gradient(#fff,#f2f2f2);
    -moz-background: linear-gradient(#fff,#f2f2f2);
    -ms-background: linear-gradient(#fff,#f2f2f2);	
}
@media only screen and (min-width:1000px){
	.shi_themeslider{
		.echi-shi-superpage-theme-slider{
	    	.mz-productlisting.mz-productlist-tiled {
	    		height: 272px;
				.super_theme_img{
					height: 150px;
					overflow-y: hidden;
				}
	    	}
		}
	}
}
.shi_themeslider{
	.echi-shi-superpage-theme-slider{
		padding-top:20px;
		padding-bottom: 30px;
		width: 100%;
		max-width: 1338px;
		box-sizing: border-box;
    	position: relative;
		h3{
			font-family: MontserratRegular;
		    font-size: 13px;
		    color: #555;
		    font-weight: 400;
		    height: 36px;
		    overflow:hidden;
		}
		h3.super_themeslider_price{
			font-family: ArvoRegular;
			color:#222;
			margin-bottom: 10px;
			span{
				font-size:18px;
			}
		}
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			.owl-carousel .owl-stage{
				min-width:100%;
				height: 272px;
				overflow: hidden;
			}
             
             .mz-sales-ribbon, .mz-clearance-ribbon, .mz-new-ribbon{
             	max-height: 19px;
             }
             
			.mz-productlisting-image .mz-sales-ribbon:before {
			top: 12px;
			}

			.mz-productlisting-image .mz-clearance-ribbon:before{
				top: 11px;
			}

			.mz-productlisting-image  .mz-new-ribbon:before{
				top: 15px;
			}

		}
		.mz-productlisting .mz-productlisting-rating{
			font-size: 15px;
			margin-top:15px;
			margin-bottom: 15px;
		}
		.owl-item .item{
			margin-left:0px;
		}
		.owl-prev{
			left:-2% !important;
			top:43%;
		}
		.owl-next{
			right:-2% !important;
			top:43%;
		}
	}
}
.super_page_inspiration{
	display: inline-block;
    width: 100%;
	#mz-drop-zone-inspiration-heading h2{
		padding-top:20px;
		padding-bottom:15px;
	}
}
.super_seo_content{	
    background: linear-gradient(#fff,#f2f2f2);
    -webkit-background: linear-gradient(#fff,#f2f2f2);
    -o-background: linear-gradient(#fff,#f2f2f2);
    -moz-background: linear-gradient(#fff,#f2f2f2);
    -ms-background: linear-gradient(#fff,#f2f2f2);
	#mz-drop-zone-superpage-seo-content{
		padding:0 3.5% 0px;
		font-family: RobotoRegular;
		color:#666;
		font-size: 16px;
		h2{
			font-family: ArvoRegular;
			color:#133963;
			font-size: 28px;
    		font-weight: 400;
    		margin-bottom:10px;
		}
	}
}
#mz-drop-zone-inspiratio-2 .text-stripe{
	font-family: MonstserratLight;
	font-size:18px;
    font-weight: 600;
    color: #444;
}
.mz-drop-zone .video-promo-pad {
    font-family: MontserratRegular;
    color: #444;
    span{
    	color: #444;
    }
}
#mz-drop-zone-superpage-inspiratio-2{
	font-family: MonstserratLight;
	font-size:18px;
    font-weight: 600;
    color: #444;
	.wdg-container-lg {
	    line-height: 50px;
	    box-sizing: border-box;
	}
	.text-stripe {
	    width: 100%;
		font-size:18px;
	    font-weight: 400;
	    color: #444;
	}
}
#mz-drop-zone-inspiratio-3 font {
    font-family: MonstserratLight;
    font-weight: 600;
    color: #444;
}
#mz-drop-zone-inspiratio-3 .btn-stripe{
	width: 100%;
    text-align: center;    
    margin: -20% auto 0 !important;
    display: inline-block;
}
#mz-drop-zone-inspiratio-3 .first-promo-banner-align .btn-stripe .default_offer_btn_lg{
	float:none;
	width:auto;
	min-width:90px;
	padding: 15px 20px;
    font-size: 15px;
    border-radius: 6px;
}
 @media only screen and (max-width:1150px) and (min-width:768px){
	.echi-shi-party-packs .party_packs_btns .btn-cart{
		padding:13px 7%;
	}
 }
 @media only screen and (max-width:800px) and (min-width:601px){
 	.echi-shi-superpage-slider	.fixed-block{
 	    left:40%;
	}
 }
 @media only screen and (max-width:640px){
	#mz-drop-zone-inspiratio-3 .first-promo-banner-align .btn-stripe .default_offer_btn_lg{
		float:none;
		width:auto;
		min-width:90px;
		padding: 12px 16px;
	    font-size: 14px;
	    border-radius: 6px;
	    margin-right: inherit !important;
	}
	.echi-shi-party-packs .party_packs_btns .btn-cart{
		padding:13px 12%;
	}
	.btnloop_detail .mz-shi-heading-style{
		h2{
		    font-size: 1.4em;
		}
		h2:before{
			width:2%;
		}
		h2:after{
			width:2%;
		}
	}
 }
 @media only screen and (max-width: 767px) and (min-width: 480px){
	.echi-shi-party-packs .party_packs_btns .btn-cart {
	    padding: 13px 3% !important;
	    height:auto;
	}
}
 @media only screen and (max-width:400px){
 	.echi-shi-superpage-slider .mz-productlisting.mz-productlist-tiled{
 		
 		height: 195px;
 	}
 }
 @media only screen and (max-width:480px){
	.echi-shi-superpage-slider .owl-item img {
	    max-height: 175px !important;
	}
 }
 /*-------------------------Product Page--------------------------*/
.mz-product .mz-quick-view-wrapper .container-left {
	min-height: auto;
	.product-video{
		.owl-prev{
			margin-left:-28px !important;
		}
		.owl-next{
			margin-right:-28px !important;
		}
	}	
}
.mz-product .mz-quick-view-wrapper .container-right {
	min-height: inherit;
	.mz-pagetitle{
		font-size: 17px;
	    font-family: MontserratRegular;
	    color: #222;
	    margin-top: 0;
	    line-height: normal;
	}
	.product-description, .product-description span{
		font-size:12px !important;
		line-height:inherit;
	}
	.product-rating-review .product-rating{
		padding-top:8px;
		padding-bottom: 0px;
	}
	.product-rating-review .product-rating .pr-snippet-stars{
	    padding: 0px 0px;
	    margin-left:-4px;
	}
	.mz-l-stack .mz-l-stack-section{
		margin-bottom:10px;
		.mz-l-stack-sectiontitle{
			margin:10px 0px;
		}
		.mz-productoptions-optioncontainer{
			.mz-productoptions-optionlabel{
				text-transform: capitalize;
			}
			.mz-productoptions-optionlabel:after{
				content:':';
				margin-left:2px;
			}
			.mz-productoptions-option{
				border-radius: 6px;
			    background: rgba(235,235,228,0.32);
			    color: #000000;
			    border: 1px solid #eee;
			    height: 30px;
			    width: 195px;
			    appearance: none;
			    -moz-appearance: none;
			    -webkit-appearance: none;
			    -ms-appearance: none;
			    -o-appearance: none;
			    background-image: url('../resources/images/select_arrow.png');
			    background-repeat: no-repeat;
			    background-size: 10px auto;
			    background-position: right 10px center;
			    outline: none;
    			padding-right: 30px;
			}
		}
	}
	.product-quantity .mz-qty-label{
		width:65px;
		display:inline-block;
	}
	.mz-productdetail-conversion-controls{
		margin-top:5px;
	}
	.mz-l-stack .mz-productdetail-price.mz-l-stack-section{
		margin-top:10px;
		.mz-l-stack-sectiontitle{
			margin:0px;
			line-height: 57px;
		}
		.mz-price{
			line-height: 50px;
		}
	}
	.product-cart-wishlist{
		form{
			display: inline-block;
		}
		.personalize{
		 	background: #0971ce;
		 	padding: 0px 50px !important;
		 	color: #ffffff;
		 }
		.addToCart, .personalize{
			border-radius: 5px !important;
	    	border: 0px !important;
	    	margin-right:2%;
	    	margin-bottom:5px;
		}
		#add-to-wishlist{
			display: inline-block;
			box-sizing: border-box;
			vertical-align: top;
			height:52px;
		    border-radius: 5px;
		    font-weight: 600;
		    font-family: MontserratRegular;
		    text-transform: uppercase;
		    position: inherit;
		    margin-left:0px;
	    	margin-bottom:5px;
		}
		.addToCart:hover, .personalize:hover{
		    background: #0d3762 !important;
		}
		 .personalize.mz-button[disabled]{
			background-color: #f7f7f7 !important;
		    color: @disabled-grey !important;
		    border-color: #989898 !important;
		    cursor: not-allowed;
		 }
	}
	.product-share{
		font-family:MontserratRegular;
		margin-top:15px;
	}
}
.mz-product .echi-shi-pro-desc-fix .fixed-top .fixed-top-left .prodct-name-color .color-head{
	margin-top:5px;
}
 @media only screen and (min-width:641px){
	.mz-product .mz-quick-view-wrapper .container-left{
	padding: 10px 30px 20px 80px;
	}
	.mz-product .mz-quick-view-wrapper .container-right {
    	padding: 10px 30px 10px 60px;
	}
	.mz-product .mz-quick-view-wrapper .container-right .product-cart-wishlist #add-to-wishlist{
		background-position: 12px center;
	}
}
 @media only screen and (max-width:994px) and (min-width:768px){
	.mz-shi-heading-style #mz-drop-zone-recommended-products h2:before, .mz-shi-heading-style #mz-drop-zone-recommended-products h2:after{
		width:15%;
	}
}
 @media only screen and (max-width:994px) and (min-width:641px){
	.mz-product{
		.mz-quick-view-wrapper .container-right {
	    	padding: 10px 30px 10px 30px;
		}
		.pdp-related-products{
			.echi-shi-related-products-slider .mz-productlist-item {
			    margin: 0 auto;
			}
		}
	}
 }
 @media only screen and (max-width:1160px) and (min-width:995px){
 	/*.mz-product .mz-quick-view-wrapper .container-right .product-cart-wishlist{
	 	.personalize, #add-to-cart{
	 		padding: 0px 30px !important;
	 		width: auto!important;
	 	} 		
 	}
 	.mz-product .mz-quick-view-wrapper .container-right {
	    padding: 10px 30px 10px 20px;
	}*/
 }
 @media only screen and (max-width:994px){
	.pdp-related-products{
		.echi-shi-related-products-slider{
			.mz-productlist-item {
			    margin: 0 auto;
			    display: inline-block;
			}
		} 
	}
	.mz-product{
		.echi-shi-pro-desc-fix{
			.fixed-top{
				max-width: 100%;
			    margin: 0 auto;
			    width: 90%;
			    box-sizing: border-box;
			    height: auto;
			    max-height: 80px;
			    .fixed-top-left{
			    	float: left;
			    	margin-top: 5px;
			    	.prodct-name-color .color-head{
			    		margin-top:0px;
			    		width:280px;
			    		max-width: 100%;
			    	}
			    }
			    .fixed-top-right{
			    	width:auto;
			    	float:right;
			    	.fixed-right-first p{
			    		margin-top: 23px;
	    				margin-left: 0px;
	    				text-align: right;
	    				width: 250px;
			    	}
			    }
			}
		}
		.fixed-mob-bottom{ 
			height: auto;
    		padding-bottom: 12px;
		    .fixed-mob-bottom1{
				max-width: 100%;
			    margin: 0 auto;
			    width: 90%;
			    box-sizing: border-box;
			    display: block;
		    	.fixed-mob-bottom-left{ 
		    		float:left;
		    		width:43%;
			    	.box-custom-pad {
					    padding: 10px 10px 0% 0%;
					    text-align: right;
					    .main-price span {
						    font-size: 0.8rem;
						    span{
						    	font-size: 1.2rem;
						    }
						}
						.main-price.tag-1 span span {
						    font-weight: 400;
						    font-size: 0.8rem;
						}
					}
				}
				.fixed-mob-bottom-button {
				    float: left;
				    width: auto;
				    margin-right: 4%;
				    margin-left: 4%;
				    button{
				    	height: 41px;
					    padding: 0px 15px;
					    font-size: 16px;
					    min-width: 120px;
					    margin-right: 0;
				    }
				    button:hover{
				    	background: #0d3762;
				    }
				}
				.fixed-mob-bottom-right{
					float: left;
				    position: relative;
				    width: 65px;
				    margin-top: 5px;
				    #add-to-wishlist{
				    	height: 39px !important;
				    	padding: 0px !important;
				    	max-height:inherit;
				    }
				}
			}
		}
	}
}
 @media only screen and (max-width:767px) and (min-width:641px){
	.mz-shi-heading-style #mz-drop-zone-recommended-products h2:before, .mz-shi-heading-style #mz-drop-zone-recommended-products h2:after{
		width:10%;
	}
	.mz-product{
		.echi-shi-pro-desc-fix{
			.fixed-top{
			    width: 100%;
			    .fixed-top-left{
			    	.prodct-name-color h3{
			    		width: 280px;
			    		font-size: 13px;
			    	}
			    }
			}
		}
		.fixed-mob-bottom{
		    .fixed-mob-bottom1{
			    width: 100%;
			    display: inline-flex;
			    .box-custom-pad{
			    	padding: 14px 5px 0% 0%;
				    .main-price {
					    font-size: 14px;
					    font-family: MontserratRegular;
					    span span {
						    font-size: 16px;
						    font-weight: 600;
						}
					}
					.main-price.tag-1{
						span span{
							font-weight: 400;
							font-size:0.8rem;
						}
					}
			    }
			    .fixed-mob-bottom-button {
				    margin-right: 2%;
				    margin-left: 2%;
				} 
			}
		}
	}
}
@media only screen and (max-width:640px){
 	.echi-shi-pro-desc-fix .fixed-top-right{
        p{
            width: 200px;
        }
    }
	.mz-product{
		.echi-shi-pro-desc-fix{
			.fixed-top{
			    width: 100%;
			    padding: 5px 8px 18px;
			    .fixed-top-left{
				    .prodct-image .img-border {
					    width: 50px;
					    height: 50px;
					}
					.prodct-name-color{
						width:65%;
						h3{
							width: 250px !important;
						}
						p{
							font-size: 13px;
							.rounded {
							    border: 1px solid #c5c3c3;
							    padding: 3px;
							    border-radius: 50%;
							    margin-left: 1px;
							    span{
							    	padding: 0px 7px;
							    }
							}
						} 
					}
			    }
			    .fixed-top-right {
				    width: 160px !important;
				    float: none;
				    position: absolute;
				    right: 8px;
				    bottom: 8px !important;
				    top:auto;
				    margin:0 !important;
				    p { 
				    	width:160px !important;
					    margin-top: 8px !important;
					    font-size: 14px !important;
    					font-weight: 400;
					    span{
					    	padding: 5px 0px 5px 0px;
					    	font-size: 16px;
					    	.custom-qty{
					    		max-width: 94px;
					    	}
					    }
					}
				}
			}
		}
		.fixed-mob-bottom{
			height: auto;
			padding-bottom: 8px;
		    .fixed-mob-bottom1{
			    width: 100%;
			    display: inline-flex;
			    .box-custom-pad{
			    	padding: 14px 5px 0% 0%;
				    .main-price {
					    font-size: 13px;
					    font-family: MontserratRegular;
					    span span {
						    font-size: 16px;
						    font-weight: 600;
						}
					}
					.main-price.tag-1{
						margin:3px 0px;
						span span{
							font-weight: 400;
						}
					}
			    }
			    .fixed-mob-bottom-button {
				    margin-right: 2%;
				    margin-left: 2%;
				    button {
				    	min-width: 125px;
					    height: 41px;
					    padding: 0px 0;
					    font-size: 12px;
					}
				}
			    .fixed-mob-bottom-right{
			    	width: 50px;
			    	margin-top: 15px;
			    	#add-to-wishlist {
			    		margin-top: 0;
					    position: relative;
					    width: 42px !important;
					    min-width: 40px;
					    border-width: 1.5px;
					}
			    } 
			}
		}
	}
	.pdp-related-products{
		padding-bottom: 20px !important;
		.echi-shi-related-products-slider{
			.owl-item .item{
			    display: inline-block;
			    .mz-productlisting.mz-productlist-tiled{
			    	height:340px !important;
			    }
			}
			.owl-nav {
				.owl-next{
					margin-right:30px;
				}
			}
		}
	}
	.mz-product .mz-quick-view-wrapper .container-left{
		min-height:260px;
	}
	.mz-product .mz-quick-view-wrapper .container-right #add-to-wishlist {
	    line-height: 37px;
	    text-indent: -9999px;
	    width: 60px !important;
	}
	.mz-product .fixed-mob-bottom .fixed-mob-bottom1 .fixed-mob-bottom-left .box-custom-pad .main-price span{
		font-size: 0.8rem;
		span {
		    font-size: 1.2rem;
		}
	}
}
@media only screen and (max-width:413px){
	.pdp-related-products .echi-shi-related-products-slider .owl-item .item .mz-productlisting.mz-productlist-tiled {
	    height: 300px!important;
	}
}
@media only screen and (max-width:340px){
	.mz-shi-heading-style #mz-drop-zone-recommended-products h2{
		font-size:1.1rem;
	}
}
.display-fixed-mob #add-to-wishlist{
	min-height:22px;	
	padding: 0.692% 0;
	max-height:22px;
}
.fixed-mob-bottom .fixed-mob-bottom1{
	.fixed-mob-bottom-button button{
		text-transform: uppercase;
	}
	.discount-block{
		display:none;
	}
	.box-custom-pad{
	    .main-price {
		    font-family: MontserratRegular;
		}
		.main-price.tag-1{
			span span{
				font-weight: 400;
				font-size:0.8rem;
			}
		}
	}	
	.fixed-mob-bottom-right .fixed-wishlist{
		height: auto;
	    width: auto;
	    border-radius: 0;
	    margin-top: 0;
	    box-shadow: none;
	    background-color: white;
	}	
}
.echi-shi-pro-desc-fix .fixed-top .fixed-top-right .fixed-right-button button[disabled], 
.fixed-mob-bottom .fixed-mob-bottom1 .fixed-mob-bottom-button button[disabled]{
	background-color: #f7f7f7 !important;
    color: #989898 !important;
    border-color: #989898 !important;
    cursor: not-allowed;
}
.pdp-related-products{
	padding-bottom: 30px;
}
/*---------------------Add to cart---------------------*/
#mz-added-to-cart .popup .mz-quick-view-wrapper.add-cart{
	.mz-productlisting-image:hover .quick-view{
		display:none;
	}
	.mz-productlisting.mz-productlist-tiled .wishlist-icon{
		display: none;
	}
	.btn-slot {
		padding:23px 40px 10px 23px;
		text-align: right;
		.item-text{
			font-family: ArvoRegular;
			font-size: 19px;
			margin:0px 0px;
			width:auto;
			.fa{
				font-size: 25px;
				margin-right:10px;
			}
		} 
		.addToCart{
		    padding: 14px 14px;
		    font-size: 14px;
		    margin: 0px 5px 3px;
		    min-width: 23%;
		    display: inline-block;
		    line-height: normal;
		    text-align: center;
		    cursor: pointer;
		}
		.addToCart:hover {
		    background: #0d3762;
		    color: #fff;
		    border: 1px solid #0d3762;
		}
		#mz-go-to-checkout{
			background: #0070cd;
			color:#fff;
			border-color: #0070cd;
			min-width:27%;
		}
		#mz-go-to-checkout:hover{
		    background: #0d3762;
		    color: #fff;
		    border: 1px solid #0d3762;
		}
	}
	.container-left{
		width:100%;
		padding: 10px 40px 0px;
		.product-image{
			margin-right:7%;
		}
		.product-info{
			position: inherit;
			margin-left:0;
			float:none;
			.product-title h2{
				font-family: MontserratRegular;
				font-weight: 400;
				margin:0 0 10px;
				color:#222;
				font-size: 18px;
			}
		}
		.product_optionbox{
			margin-bottom:5px;
			font-family: ArvoRegular;
			font-size: 16px;
			color: #666;
			ul{
				list-style: none;
				margin:0px;
			}
			.p_label{
				color:#666;
				margin-right:5px;
				font-family: MontserratRegular;
				font-size: 15px;
			}
		}
		.product_bottom_box{
			margin-top:18px;
			.price{
				float:left;
				color: #093863;
    			font-size: 18px;
				.mz-pricestack{
				    float: none;
				    margin: 0;
				    display: inline-block;
				}
			}
			.product-share{
				font-family:MontserratRegular;
				float:right;
				margin-top:0px;
				color:#666;
				.addthis_sharing_toolbox.addthis_32x32_style a span {
				    width: 32px !important;
				    height: 32px !important;
				    background-color: transparent !important;
				}
				.addthis_sharing_toolbox.addthis_32x32_style a span svg g path {
				    fill: #666 !important;
				}
				.addthis_sharing_toolbox.addthis_32x32_style a span svg {
				    width: 32px !important;
				    height: 32px !important;
				}
			}
		}
	}
	.product-slider{
		padding:0px 2% 8px;
		height: 330px;
		#static h2{
			font-size: 18px;
	    	text-transform: uppercase;
		}
	    #static h2:after, #static h2:before {
	    	vertical-align: middle;
	    }
		.owl-carousel{
			width: 98%;
		    .owl-prev{
		    	top: 125px;
		    	margin-left: -30px !important;
		    }
		    .owl-next{
		    	top: 125px;
		    	margin-right: -45px !important;
    			right: 0 !important;
		    } 
		    .mz-productlisting .mz-pricestack .mz-price.is-saleprice{
		    	font-size:18px;
		    }
			.mz-productlist-item{
				margin:0 auto;
			}
			.mz-productlisting .mz-productlisting-info .mz-productlisting-title{
				font-size: 12px;
				padding: 5px 5px 0;
			}
			.mz-productlisting-image .mz-sales-ribbon{
				left:0px;
			}
			.wishlist-icon {
				top: -15px !important;
			}
		}
	}
	.popup-close:hover {
    	background: #00af9a;
	}
	.popup-close{
		width: 38px;
	    height: 38px;
	    padding: 0;
	    text-align: center;
	    line-height: 35px;
	    font-size: 30px;
	}
	.popup-close:before{
		content:'×' !important;
		display: none;
	}
}
@media all and (-ms-high-contrast: none){
	#mz-added-to-cart .popup .mz-quick-view-wrapper.add-cart .product-slider .owl-carousel .owl-next{
		margin-right: -17px !important;
	}
}
@media only screen and (max-width:1080px) and (min-width:980px){
	#mz-added-to-cart .popup .mz-quick-view-wrapper.add-cart {
		width: 82%;
    	margin: 30px 8%;
	}
}
@media only screen and (max-width:979px) and (min-width:768px){
	#mz-added-to-cart .popup .mz-quick-view-wrapper.add-cart {
		width: 82%;
    	margin: 30px 8%;
    	.btn-slot{
    	    padding: 15px 15px 10px;
    	    .item-text{
	    	    font-size: 20px;
	    	     .fa {
				    font-size: 20px;
				    margin-right: 3px;
				}
    	    }
    	    .addToCart {
			    padding: 12px 10px;
			    font-size: 14px;
			    margin: 0px 3px 3px;
			    min-width:inherit;
			}
    	}
    	.product-slider{    		
		    #static h2:after, #static h2:before {
			    width: 20%;
			    margin: 0px 0 0;
			}
    	}
		.popup-close {
		    width: 34px;
		    height: 34px;
		    line-height: 32px;
		    font-size: 26px;
		}
	}
}
@media only screen and (max-width:767px){
	#mz-added-to-cart{
		overflow-y: auto;
	}
	#mz-added-to-cart .popup .mz-quick-view-wrapper.add-cart {
		position: relative;
		height: auto;
		.popup-close{
			right:-18px;
		    width: 34px;
		    height: 34px;
		    line-height: 32px;
		    font-size: 26px;
		}
		width: 84%;
    	margin: 30px 7% !important;
    	padding: 0 !important;
    	.btn-slot{
    		text-align:center;
    	    padding: 15px 0px 10px;
	    	.item-text{
	    		width:100%;
	    		float:none;
	    		margin:0px 0px 10px!important;
	    		font-size: 18px !important;
	    		.fa{
	    			font-size: 22px;
	    			margin-right:4px;
	    		}
	    	}
	    	.addToCart{
	    		padding: 12px 11px !important;
			    font-size: 12px !important;
			    margin: 3px 5px 3px;
			    min-width: auto;
	    	}
    	}
    	.container-left {
    	    min-height: inherit;
    	    padding: 10px 10px 5px;
    		border-bottom: 1px solid #e8e8e8;
    	    .product-image{
    	    	margin-right:15px;
    	    	width:85px !important;
    	    	height:85px !important;
    	    }
    	    .product-info{
    	    	margin-left: 100px;
    	    	.product-title h2{
    	    		font-size: 15px;
    	    		margin-bottom: 0px;
    	    	}
    	    }
			.product_optionbox{
				margin-bottom:0px;
				.p_label{
					font-size: 13px;
				}
			}
	    	.product_bottom_box{
	    		margin-top:0px;
	    		margin-left: 100px;
	    		.mz-pricestack .mz-price{
	    			font-size: 18px;
	    		}
		    	.product-share{
		    		margin-left: 0px;
		    		font-size: 13px;
    				.addthis_sharing_toolbox.addthis_32x32_style a span{
    					width: 22px !important;
    					height: 22px !important;
    					svg{
    						width: 22px !important;
    						height: 22px !important;
    					}
    				}
		    	}
		    }	
	    }
	    .product-slider{
	    	padding:0 20px 8px;
			height: 260px;
	    	#static h2{
		    	margin:10px -15px 0;
			    font-size: 15px;
			    font-weight: 600;
		    }
		    #static h2:after, #static h2:before {
			    width: 4%;
			    margin: 0px 0 0;
			}
			.mz-productlisting-image{
				height:80px !important;
				min-height: 80px;
			}
			.owl-carousel{
			    .owl-prev{
			    	top: 100px;
			    }
			    .owl-next{
			    	top: 100px;
			    } 
				.owl-item img{
					height:75px;
				}
			}
			.mz-productlisting.mz-productlist-tiled{
				height:220px !important;
				.mz-pricestack .mz-price{
					font-size: 17px;
				}
			}
			.mz-productlisting .mz-pricestack .mz-price.is-saleprice{
				font-size: 16px;
			}
	    }
	}
}
@media only screen and (max-width:600px){
	#mz-added-to-cart .popup .mz-quick-view-wrapper.add-cart {
    	.container-left {
	    	.product_bottom_box{
	    		.price{
	    			float:none;
	    			font-size: 17px !important;
	    		}
		    	.product-share{
		    		float: none;
    				.at-share-btn {
					    margin: 0!important;
					}
		    	}
		    }
		}
	    .product-slider{
	    	.mz-productlist-tiled .mz-productlist-item{
	    		width:auto;
	    	}
	    }
	}
}
@media only screen and (max-width:400px){
	#mz-added-to-cart .popup .mz-quick-view-wrapper.add-cart {
		width: 88%;
    	margin: 30px 5%!important;
	}
}
/*-------------------------------------------------*/
.custom-party-plus + *{
	position: relative !important;
}
.popup.quickview-popup{
	.container-right {
		.product-info p{
			margin-top:5px;
		}
		.custom-qty input[type="button"]{
			background-color:transparent !important;
		}
		.product-cart-wishlist #add-to-wishlist{
		    background-size: 35px;
		    height: 43px; 
		    padding:0px;
		}
		.addToCart:hover{
    		background: #0d3762 !important;
		}
		.addToCart.is-disabled:hover{
    		background: #0971ce !important;
    	}	
    	.product-share{
    		font-family:MontserratRegular;
    		margin-top: 15px;
    		float: left;
    		width:100%;
    		display: inline-block;
    	}
		.product-cart-wishlist{
	    	.personalize{
	    		line-height: 52px;
			    border-radius: 5px !important;
			    border: 0px !important;
			    margin-right: 2%;
			    margin-bottom: 5px;
			    box-sizing: border-box;
			    padding: 0px 50px !important;
			    &:hover{
			    	background: #0d3762 !important;
			    }
			    &.is-disabled, &[disabled], &.is-disabled:hover, &[disabled]:hover{
			    	background-color: #eee !important;
				    border-color: #eee!important;
				    -webkit-box-shadow: none;
				    -moz-box-shadow: none;
				    box-shadow: none;
				    color:  @disabled-grey;
			    }
	    	}
	    }
	}
}
/*------------------------------------------*/
#login-popover-close:hover, #signup-popover-close:hover, #mz-quick-view-container-close:hover{
	background-color: #00af9a;
} 
@media only screen and (min-width:781px){
	.icon-collection{
		.icon-final-swap:hover img,.icon-final-swap:hover svg{
		    width: 30px !important;
		    content: none;
		    margin-top: -2px;
		    background-image: url('../resources/images/myaccount.svg');
		    background-repeat: no-repeat;
		    background-size: 40px 43px;
		    background-position: center;
		}
		/*.icon-final-swap-1:hover img {
		    width: 43px !important;
		    margin-top: 2px;
		    margin-left: -1px;
		    visibility: hidden;
		}
		.icon-final-swap-1:hover {
		    content:'';
		    background: url('../resources/images/wishlist_pink.svg');
		    background-size: 34px 42px;
		    background-position: center;
		    background-repeat: no-repeat;
		}*/ 
		#heart_hover:hover{
			content: url('../resources/images/wishlist_pink.svg');
		}
	}
}
@media only screen and (max-width:780px){
	#popup1 .popups{
		box-sizing: border-box;
		.close{
			right:0px;
		}
		.content{
			margin-right: 0px;
		}
		.searchNav{
			position: relative;
			width:100%;
		}
	}	
	.floatheader .icon-collection > ul > li:hover > div.welcome-text-container{
		width: 175px !important;
		div.mz-cms-col-12-12 {
		    background-color: white;
		    width:100% !important;
		    float: left;
		    ul li{
		    	width:100% !important;
		    	max-width:100% !important;
		        border-bottom: 1px solid lightgrey;
		    }
		}
	}
}
@media only screen and (max-width:780px) and (min-width:569px){
	#popup1 .popups{
		.searchNav{
		    margin-top: 30px;
		}
	}
}
@media only screen and (max-width:320px){
	#popup1 .popups{
		.content{
		    margin-top:50px !important;
		}
	}		
}
@media only screen and (max-width:640px){
	.mobile.mz-mobile-filter{
		.mz-sort .mz-sort-btn{
			font-family: MontserratRegular;
		}
		.mz-page-filters-controls {
			position: relative;
			#selected-filters-mobile-static{
				margin-bottom: 5px;
				.selected-filter{
					font-family: MontserratRegular;
				}
				/*.mz-facetingform-clearall.selected-filter{
					position: absolute;
				    right: 11px;
				    bottom: 15px;
				    background-color: #fff;
				    border: 0px;
				    border-bottom: 1px solid #00b09b;
				    padding: 0 0 0px !important;
				    min-width: inherit;
				    color: #00b09b;
				    cursor: pointer;
				}*/
				.mz-facetingform-clearall.selected-filter:after {
				    content: ' All';
				}
			}
			.mz-pagingcontrols{
				width:auto;
				margin-left:10px;
			}
		}
	}
}
@media only screen and (max-width:676px){
	.cat-promo-2 .cat-promos-2-2 .promo-banner {
	    background-position: right bottom;
	}
	.cat-promo-1, .cat-promo-2, .cat-promo-3 {
	    width: 100%;
	    margin-bottom: 1%;
	}
	.searchNav{
		display: inline-block;
		/* li#options{
			width:25% !important;
		}
		#search{
			width:74%;
		} */
	}
	.searchNav #options > a {
	    padding: 0 12px 0 2px !important;
	     font-size: 10px !important;
		.caret-all {
		    right: 2px;
		}
	}
	header{
		div.welcome-text-container div.mz-cms-col-12-12 ul li a{
			display: block;
		}
		.icon-final-swap:hover img {
		    content: inherit;
		    margin-top: 2px;
		    width: 24px !important;
		}
		.icon-final-swap-1:hover img{
		    content: inherit;
		    margin-top: 5px;
    		margin-left: 5px;
		    width: 32px !important;
		}
	}
}
@media only screen and (max-width:845px) and (min-width:677px){
	#mz-drop-zone-cat-promos-3 .promo-banner, #mz-drop-zone-cat-promos-1 .promo-banner{
		height: 440px;
	}
	.cat-promo-2 .cat-promos-2-2{
		.mz-cms-content .wdg-container {
		    padding: 30px 15px 25px;
		}
		.echi-shi-promo-banner-two-heading {
		    font-size: 1.2rem;
		}
		.echi-shi-promo-banner-two-heading1 {
		    font-size: 1.3rem !important;
		}
		.echi-shi-promo-banner-two-heading2 {
		    font-size: 1.8rem;
		}
	}
}
header{
	div.welcome-text-container div.mz-cms-col-12-12 ul li a{
		display: block;
	}
}
#mobile-nav .back-button{
	cursor: pointer
}
.ech-shi-homeSlider .imagevideocaraousel .vt-slider{
	.third-line, .first-line, .second-linedata{
		position: relative;
		z-index: 1;
	}
	.slider-caption:after {
	    content: '';
	    display: block;
	    position: absolute;
	    top: -12px;
	    bottom: -12px;
	    right: -12px;
	    left: -12px;
	    border: 4px solid #fff;
	    z-index: 0;
	}
	.slider-caption{
		outline:none;
	}
}
.searchNav #options > a{
	padding: 0 17px 0 7px !important;
	position: relative;
	line-height: 44px !important;
	.caret-all {
	    font-size: 13px;
	    padding-left: 0;
	    color: #afbbc7;
	    position: absolute;
	    right: 0px;
	    padding: 0px 4px 0px 2px;
	    background: #fff;
	    .fa-caret-up{
	    	font-size: 14px;
	    }
	}
}
.searchNav #options > a:hover .caret-all{
	background-color: #efefef;
}
.quickview-popup .mz-quick-view-wrapper .container-right .product-rating-review .product-rating {
    padding: 5px 0;
}
.mz-plp-btw-promo-slot{
	min-height:0px !important;
}
@media only screen and (max-width:867px) and (min-width:768px){
	.ech-shi-top-header.mz-pageheader{
		padding: 0 5px 0 0px !important;
		.ech-shi-tollfree{
			width: 100%;
			.mz-utilitynav {
			    position: relative;
			    right: 0;
			    left: 0;
			    height: 25.5px;
				.mz-utilitynav-item.promoslot-customer{
					float: right;
					margin-right:0px !important;
				}
			}
		}
	}
}
.echi-shi-pro-desc-fix .fixed-top .fixed-top-right .fixed-right-first p span input[type="number"] {
    padding-right:0px;
    padding-left:0px;
}
@media (min-width: 498px) {
  .mz-category-title {
    min-height: 70px;
  }
}
@media (min-width: 498px) {
  .mz-category-title {
    min-height: 70px;
  }
}
.mz-category-title.header-wholesale-pgm div h1.mz-pagetitle, .top-desc-wrap header, .form-title header{
 font-family: 'ArvoRegular';
}
@media (max-width: 524px){
 .mz-category-title.header-wholesale-pgm div h1.mz-pagetitle {
     font-size: 18px;
     padding: 15px 0px 5px 0px;
 }
 .mz-category-title.header-wholesale-pgm {
     min-height: 50px;
 }
 .top-desc-wrap {
     padding: 0px 20px;
 }
 .top-desc-wrap header{
  font-size: 18px;
  border-bottom: 2px dotted lightgrey;
  width: 100%;
 }
 .form-title header{
  font-size: 18px;
 }
 .form-title {
     padding: 10px 20px 0;
 }
}
.p-w-r .pr-war{
	margin:0 auto;
}