.mz-pagenumbers {
    .mz-pagenumbers-prev, 
    .mz-pagenumbers-next,
    .mz-pagenumbers-number {
        display: inline-block;
        border: 1px solid #fff;
        border-radius: 4px;
        text-decoration: none;
        font-family: @fontLight;
        color: @disabled-grey;
        font-size: 11px;
        text-transform: uppercase;
        padding: 5px 5px;
        margin: 0px 3px;
        @media @smallmobile {
            margin: 0;
        }
    }
    a{
        color: @primaryDarkBlue;
        font-size: 15px;
        &:hover{
            border: 1px solid @primaryDarkBlue;
            background-color: #fff;
        }
        b{
            font-weight: normal;
        }
    }
    .mz-pagenumbers-number.is-current {
        border: 1px solid @primaryDarkBlue;
    }
}
.mz-pagenumbers-prev is-disabled b{
    font-weight:normal;
}