.mz-pagenumbers {
    .mz-pagenumbers-prev, 
    .mz-pagenumbers-next,
    .mz-pagenumbers-number {
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 4px;
        text-decoration: none;
        font-family: @fontFamily;
        font-size: 12px;
    } 
    a{
        color: @primaryDarkBlue;
        font-size: 15px;
        &:hover{
            border: 1px solid @primaryDarkBlue;
            background-color: #fff;
        }
        b{
            font-weight: normal;
        }
    }
    .mz-pagenumbers-number.is-current {
        border: 1px solid @primaryDarkBlue;
    }
}
.mz-pagenumbers-prev is-disabled b{
    font-weight:normal;
}