#br-related-searches-widget {
    text-align: center;
    @media only screen and (min-width: 1190px) {
        margin-bottom: 50px;
    }
}
.br-found-thumbwrap {
    margin: 0 auto;
    text-align: center;
}
.br-related-heading, .br-found-heading {
	padding: 20px 0;
	background: transparent;
	text-align: center;
	display: block;
	color: @tertiaryColor;
	font-family: @fontLight;
	text-transform: lowercase;
	font-size: 18px;
	&:before {
        content: '';
        display: inline-block;
        border-bottom: 2px solid @tertiaryColor;
        height: 10px;
        width: 25%;
        vertical-align: super;
		margin: 0 10px;
		@media @smallmobile {
			width: 15%;
		}
    }
    &:after {
        content: '';
        display: inline-block;
        vertical-align: super;
        margin: 0 10px;
        border-bottom: 2px solid @tertiaryColor;
        height: 10px;
		width: 25%;
		@media @smallmobile {
			width: 15%;
		}
    }
}
.br-related-query {
    font-family: @fontFamily;
    min-height: 1px;
    line-height: 1em;
    vertical-align: top;
    text-transform: capitalize;
    position: relative;
    padding: 0 0 10px 1%;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    @media only screen and (min-width: 480px) {
        width: 49%;
        display: inline-block;
    }
    @media only screen and (min-width: 900px) {
        width: 23%;
        margin: 0 5%;
    }
    @media only screen and (min-width: 1190px) {
        width: auto;
        margin: 0;
        padding: 0 7px;
        font-size: 12px;
        border-right: 1px solid #ede8e8;
        box-sizing: border-box;
        display: inline;
        vertical-align: middle;
        &:last-child {
            border: none;
        }
    }
}
.br-sf-widget {
    display: inline-block;
    width: 47%;
    height: auto;
    vertical-align: text-top;
    margin: 0 1% 15px 1%;
    @media screen and (min-width: 480px) {
        max-width: 220px;
    }
    @media screen and (min-width: 715px) {
        max-width: 240px;
    }
    @media screen and (min-width: 768px) {
        width: 22%;
    }
}
.br-sf-widget-merchant-cont {
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 25px 10px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;
    text-align: center;
    white-space: normal;
    position: relative;
    height: inherit;
    box-sizing: border-box;
}
.br-sf-widget-merchant-cont:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    bottom: 10px !important;
}
.br-sf-widget-merchant-img {
    height: 110px;
    margin-bottom: 10px;
    vertical-align: middle;
    position: relative;
    @media screen and (min-width: 768px) {
        margin-bottom: 60px;
    }
}
.br-sf-widget-merchant-img img {
    max-width: 100% !important;
    max-height: 100%;
}
.br-sf-widget-merchant-title {
    font-size:13px;
    margin-bottom: 10px;
    font-family: @fontFamily;
    height: 60px;
    overflow: hidden;
    & a {
        color: @textColor;
    }
    @media screen and (min-width: 768px) {
        font-size: 15px;
        margin-bottom: 10px;
    }
}
.br-sf-widget-merchant-desc {
    font-size: 11px;
    height: 60px;
    overflow: hidden;
        @media screen and (min-width: 768px) {
        font-size: 13px;
        height: 55px;
    }
}
.br-sf-widget-merchant-qv {
    display: none;
    @media screen and (min-width: 768px) {
        position: absolute;
        top: 145px;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        & a {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            margin: 0 auto;
            border: 2px solid @primaryCTA;
            border-radius: 3px;
            padding: 10px 16px;
            text-decoration: none;
            font-family: @fontFamily;
            font-size: 14px;
            color: @primaryCTA;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
            background-color: #fff;
            &:hover {
                color: #fff;
                border: 2px solid @primaryCTAhover;
                background-color: @primaryCTAhover;
            }
        }    
    }
}
.br-sf-widget-merchant-cont:hover .br-sf-widget-merchant-qv {
    @media screen and (min-width: 768px) {
        display: block;
    }
}
.br-rp-qv-show {
    width: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.75);
    z-index: 1000;
}
.br-sf-widget-merchant-popup-maincont {
    height: 100vh;
    line-height: 100vh;
    vertical-align: middle;
    text-align: center;
}
.br-sf-widget-merchant-popup-cont {
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    position: relative;
    background-color: #fff;
    width: 80%;
    max-width: 930px;
    margin: 30px auto;
    border-radius: 2px;
    font-family: @fontFamily;
    box-sizing: border-box;
}
.br-sf-widget-merchant-popup-img {
    padding: 20px;
    float: left;
    width: 50%;
    min-height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.br-sf-widget-merchant-popup-img a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.br-sf-widget-merchant-popup-img img {
    max-width: 100%;
}
.br-sf-widget-merchant-popup-title {
    padding: 20px;
    width: 50%;
    font-family: @fontGTWalsheimBold;
    font-size: 17px !important;
    float: right;
    margin-top: 10%;
    white-space: normal;
    box-sizing: border-box;
}
.br-sf-widget-merchant-popup-desc {
    font-family: @fontFamily;
    line-height: 1.3;
    font-size: 11px;
    color: @textColor;
    width: 50%;
    float: right;
    padding: 20px 40px 20px 20px;
    white-space: normal;
    box-sizing: border-box;
    @media screen and (min-width: 900px) {
        font-size: 13px;
    }
}
.br-sf-widget-merchant-popup-view {
    font-family: @fontFamily;
    line-height: 1.3;
    font-size: 13px;
    width: 50%;
    float: right;
    padding: 20px;
    white-space: normal;
    cursor: pointer;
    box-sizing: border-box;
}
.br-sf-widget-merchant-popup-view a {
    color: @linkColor;
    &:hover {
        color: @linkHoverColor;
    }
}
.br-sf-widget-merchant-popup-close {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
    padding: 10px 12px;
    display: inline-block;
    position: absolute;
    top: -15px;
    right: -18px;
    border-radius: 4px;
    background: #093863;
    color: white !important;
}   
.br-sf-widget-merchant-popup-close:before {
    content: "\f00d";
    display: none;
}  
.br-sf-widget-merchant-popup-close:hover {
    background-color: #00af9a;
}
.br-sf-widget-merchant-popup-close a {
    font-family: @fontGTWalsheimBold;
    font-size: 16px;
    text-rendering: auto;
    color: white;
} 
/* BLOOMREACH SEO */
.br-aslowas, .br-aslowas-range {
	display: inline-block;
	color: @textColor;
	text-transform: lowercase;
}
.filter-color-list {
	padding: 0 4%;
}
.mz-l-sidebar.sz-brthematic-left li a,.mz-l-sidebaritem.sz-childcat li a{
	font-family: @fontFamily;
	text-transform: capitalize;
	vertical-align: middle;
	color: 	@primaryDarkBlue;
	font-size: 14px;
	padding: 0 5px 0 10px;
	height: 20px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:hover {
        color: @tertiaryColor;
    }
}
.mz-mobile-filter .mz-filter-mobile-options ul.filter-level-2.sz-childcat li a{
	padding-left:15px;
	font-size:13px;
	@media @tablet {
		font-size: 16px;
	}
}
.br-seo-mobile-heading {
	color: @textColor;
	font-family: @fontFamily;
	font-size: 16px;
}
.mobile.br-seo-mobile {
	text-align: center;
}
.br-seo-mobile-items li {
	display: inline-block;
	padding: 5px 10px 5px 10px;
}
ul.br-seo-mobile-items {
	padding: 0;
	margin: 0;
}
.br-seo-mobile-attributes {
	margin: 10px auto 0 auto;	
}
.br-seo-mobile-attributes .cate-head {
	padding: 0;		
	text-transform: uppercase;
	text-decoration: underline;
}
@media screen and (min-width: 1025px) {
	.mobile.br-seo-mobile {
		display: none;	
	}
}
/* END BLOOMREACH SEO */
/* Bloomreach Guided Search */
/* missed from default-css when merging 08/16/17 LG */
.bundle-compo-more li:hover  {
	background: none;
}
.bundle-compo-more {
	clear: both;
}
.autocomplete-price .mz-product-rating .pr-snippet-stars .pr-stars-small, .pr-modal-container .pr-stars {
	background-size: 107px 201px !important;
}
/* end missed LG */

.mz-productlisting.mz-productlist-tiled.br-theme-tile, .br-suggest-right.br-suggest-theme {
	text-align: center;
}
a.br-theme-page {
	-webkit-appearance: none;
	background-color: @primaryCTA;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid @primaryCTA;
	margin: 5px auto 0 auto;
	text-transform: uppercase;
	color: #FFF !important;
	padding: 5px 3px 5px 3px;	
	display: block;
	max-width: 90%;
	font-family: @fontFamily;	
	font-size: 92%;
}
.ui-menu .br-suggest-left.ui-menu-item {
	list-style-image: none !important;	
}
.br-facet-form-header {
	background-color: @primaryDarkBlue;
	color: #FFF;
	padding: 5px 5px 5px 15px;	
	font-family: @fontFamily;
	font-size: 17px;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-left-radius: 5px;	
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	@media @tablet {
		display: none;
	}
}
#ui-id-2,ulul#ui-id-3 {
	z-index: 10000000 !important;
	padding: 10px;	
	font-family: @fontFamily;
	position: fixed;
	box-shadow: rgba(136,136,136,0.34902) 0px 10px 15px;
	line-height: normal;
	width: 76% !important;
}
.facet-heading:first-child {
	border-top: none;
}
.ui-autocomplete-category.br-suggest-divider {
	border-left: 1px solid #d3d3d3;
	height: 520px;
	position: absolute;
	left: 29%;
	top:10px;
	bottom: 10px;	
	width: 1px;
}
.ui-autocomplete-category.br-suggest-divider {
	display: none;
}
#ui-id-1 {
	font-family: @fontFamily;
	color: @linkColor;
	min-width: 50%;
	max-width: 65%;
	position: relative;
	min-height: 550px;
	overflow: hidden;
	padding: 5px 5px 5px 10px;
	font-size: 12px;	
	box-shadow: rgba(136,136,136,0.34902) 0px 10px 15px;
	line-height: normal;
}
.br-suggest-left {
	clear: left !important;	
	overflow: hidden;
	box-sizing: border-box;	
	line-height: normal;
	margin: 0;
	padding: 0;
	font-size: .84em;
}
#ui-id-1 .br-suggest-left,ul#ui-id-3 .br-suggest-left {
	width: 26%;
}
#ui-id-1 .br-suggest-right,ul#ui-id-3 .br-suggest-right {
	display: inline-block;
}
#ui-id-2 .br-suggest-left  {
	width: 100%;
}
#ui-id-2 .br-suggest-right {
	display: none;
}
.ui-menu .ui-menu-item.br-suggest-left {
	padding-left: 2% !important;	
	margin-right: 2% !important;
	text-transform: capitalize;
	margin-bottom: 8px;	
	color: @linkColor !important;
	&:hover {
		color: @linkHoverColor !important;
	}
}
.br-suggest-right {
	float: left;
	width: 21.6%;
	clear: none !important;			
	text-align: center;	
	min-height: 210px;		
	box-sizing: border-box !important;
	border: 1px solid #eee;
	margin: 1% !important;
	position: absolute;
	font-size: .84em;
}
.ui-menu .ui-menu-item.br-suggest-right {
	padding: 3px 0 0 0 !important;	
}
.br-suggest-right.br-suggest-product-1{
	margin-left: 30% !important;
	top: 25px;	
}
.br-suggest-right.br-suggest-product-2  {
	margin-left: 52.5% !important;
	top: 25px;	
}
.br-suggest-right.br-suggest-product-3  {
	margin-left: 75% !important;
	top: 25px;	
}
.br-suggest-right.br-suggest-product-4  {
	margin-left: 30% !important;
	top: 270px;	
}
.br-suggest-right.br-suggest-product-5  {
	margin-left: 52.5% !important;
	top: 270px;	
}
.br-suggest-right.br-suggest-product-6  {
	margin-left: 75% !important;
	top: 270px;	
}
.ui-autocomplete-category.br-suggest-left:first-child {
	margin-top: 0;	
}
.ui-autocomplete-category.br-suggest-left {
	margin-top: 25px;	
	white-space: nowrap;
	margin-bottom: 5px;
}
.ui-autocomplete-category.br-suggest-right {
	width: 70%;
	margin: 0 0 0 30% !important;
	text-align: left;
	min-height: 25px;
	padding: 0 !important;
	border: none;
	position: absolute;
	top: 10px;
}
.autocomplete-priceline {
	color: #363fc8;
    padding-top: 5px;
}
.br-suggest-product-image {
	height: 100px;
	width: 100px;
	margin: 0 auto 5px auto;	
	position: relative;
}
.br-suggest-product-image img {
	max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;	
}
.autocomplete-title {
	color: @linkColor;
	&:hover {
		color: @linkHoverColor;
	}
}
.ui-autocomplete-category {
	color: @textColor;	
	box-sizing: border-box;	
	text-transform: uppercase;
}
i.nostar.fa.fa-star-o, i.ratestar.fa.fa-star {
	color: @secondaryYellow;	
} 
.mz-facetingform-valuelabel:before {
	float: left;
}
.autocomplete-thumb {
	text-align: center;
	width: 100%;
	max-width: 100px;		
}
.ui-menu .ui-menu-item {
	clear: both;
	overflow: hidden;
	padding:0 !important;
}
.ui-menu .ui-menu-item-wrapper {
	overflow: hidden;	
	padding:0 !important;
}
.br-suggest-right .ui-menu-item-wrapper {
	float: none;
	box-sizing:border-box;	
	padding: 0;	
}
.br-suggest-cta.ui-menu-item {
	background-color: #fff;
	color: @primaryCTA;
	width: 30%;
	position: absolute;
	bottom: 10px;
	left: 47.2%;
	padding: 10px 20px 10px 20px !important;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: center;
	text-transform: uppercase;	
	border: 2px solid @primaryCTA;
}
.mz-facetingform .mz-facetingform-facet li.br-facet-color {
	margin: 0;	
}
.mz-mobile-filter ul.mz-l-sidebaritem-mobile {
	margin-bottom: 25px;	
}
/* FIXED SEARCH BAR - SAME ON MOBILE AS ON FIXED DESKTOP SEARCH AFTER SCROLLING DOWN */
#popup1.overlay .popups {
	padding: 0;	
	text-align: left;
}
@media only screen and (max-width: 320px) {
	#popup1 .popups .content {
		margin-top: 50px !important;	
	}
	#popup1 .popups {
		margin-top: -50px;	
	}
}
#popup1 .popups .content {
	margin-top: 0 !important;	
}
.ui-button.ui-state-active {
	touch-action: manipulation;
}
#popup1 .popups .searchNav {
	width: 82% !important;
	margin-left: 2%;
	margin-top: 14px !important;	
}
#popup1.overlay .popups div .close {
	top: 14px;
}	
#ui-id-2 .br-suggest-cta.ui-menu-item {
	display: none;	
}
@media screen and (min-width:375px) {
	#popup1.overlay .popups div .close {
		right: 2%;
	}	
}
@media screen and (min-width:781px) {
	#popup1.overlay .popups {
		text-align: center;
	}
	#ui-id-1 .br-suggest-cta.ui-menu-item, #ui-id-2 .br-suggest-cta.ui-menu-item, #ui-id-2 .br-suggest-right {
		display: block;
	}	
	#ui-id-2 .br-suggest-left {
		width: 26%;
	}
	#ui-id-2,#ul-id-3 {
		min-width: 650px;
		max-width: 850px;	
		min-height: 600px;
	}
	.ui-autocomplete-category.br-suggest-divider {
		display: block;
	}
	.br-suggest-left.ui-menu-item:hover {
		color: @primaryDarkBlue !important;	
		box-sizing: border-box;	
	}
	.br-suggest-right.ui-menu-item:hover {
		box-shadow: 1px 3px 7px 3px #ccc;
		color: @primaryDarkBlue !important;		
		box-sizing: border-box;	
		margin-top: 0px !important;
	}
	.br-suggest-right .ui-state-active:hover,.br-suggest-left .ui-state-active:hover {
		border: none !important;
		color: @primaryDarkBlue !important;	
		background: none !important;
	}
	.br-suggest-cta.ui-menu-item:hover {
		border: 2 px solid @primaryCTAhover !important;
		color: @primaryCTAhover;
	}
	a.br-theme-page:hover {
		background-color: @primaryCTAhover;
		border: 1px solid @primaryCTAhover;
	}
	.ui-menu .ui-state-active {
		border: none !important;	
		color: #444 !important;
		margin: 0 !important;
	}
	.ui-widget-content .ui-state-active {
		background: none !important;	
	}
	.br-suggest-cta .ui-state-active.ui-menu-item-wrapper {
		color: #FFF !important;		
	}
}
@media screen and (min-width:900px) {
	#ui-id-2 {
		min-height: 675px;	
	}
}
@media screen and (max-width: 1234px) and (min-width: 1151px){
	.float-mega-menu .main-drop-down .menu-column-block {
   		width: 150px !important;
	}
	.header-float .float-menu-block .float-mega-menu{
		.generate-columns(2,150,45);
		.generate-columns(5,150,80,3);
	}
	.header-float .float-menu-block .float-mega-menu .main-drop-down.menu-col-6{
		width: 1010px !important;
	}
	.float-mega-menu .megamu-wrapper.megamenu-wrapper-new.Menuloaded > ul > li:nth-child(4):hover .main-drop-down.menu-col-5 {
	    left: 0% !important;
	    right: -14% !important;
	}
	.float-mega-menu .megamu-wrapper.megamenu-wrapper-new.Menuloaded > ul > li:nth-child(1):hover .main-drop-down.menu-col-4 {
	    left: -2%;
	    right: 5% !important;
	} 
	.float-mega-menu .megamu-wrapper.megamenu-wrapper-new.Menuloaded > ul > li:nth-child(2):hover .main-drop-down.menu-col-5 {
	    left: 4% !important;
	    right: -20% !important;
	} 
	.megamu-wrapper.megamenu-wrapper-new.Menuloaded > ul > li:nth-child(2) .main-drop-down.menu-col-5 {
	    right: 0;
	    left: 7% !important;
	}
	.megamu-wrapper.megamenu-wrapper-new.Menuloaded > ul > li:nth-child(5):hover .main-drop-down.menu-col-2 {
    	left: 47% !important;
	}
	.main-drop-down .menu-column-block {
		width: 150px !important;
	}
	#mz-drop-zone-megamenu .megamu-wrapper.megamenu-wrapper-new{
		.generate-columns(2,150,50);
    	.generate-columns(5,150,90,3);
	}
	#mz-drop-zone-megamenu .megamu-wrapper.megamenu-wrapper-new .main-drop-down.menu-col-6{
		width: 995px;
	}
	.megamu-wrapper.megamenu-wrapper-new.Menuloaded > ul > li:nth-child(1) .main-drop-down.menu-col-4, .megamu-wrapper.megamenu-wrapper-new.Menuloaded > ul > li:nth-child(2) .main-drop-down.menu-col-4 {
	    right: 40% !important;
	    left: 0;
	}
	.megamu-wrapper.megamenu-wrapper-new.Menuloaded > ul > li:nth-child(3):hover .main-drop-down.menu-col-6 {
	    left: 9%;
	    right: 0;
	}
}
@media (min-width: 1235px) and (max-width:1340px){
	.float-mega-menu .main-drop-down .menu-column-block {
        width: 160px !important;
	}
	.header-float .float-menu-block .float-mega-menu{
		.generate-columns(2,160,50);
		.generate-columns(6,160,90,3);
	}
	.float-mega-menu .megamu-wrapper.megamenu-wrapper-new.Menuloaded > ul > li:nth-child(3):hover .main-drop-down.menu-col-6 {
        left: -20% !important;
        right: -20% !important;
    }
}
@media screen and (min-width:1200px) {
	#ui-id-1,ul#ui-id-3 {
		max-width: 60%;	
	}	
}
@media screen and (min-width:1300px) {
	#ui-id-1,ul#ui-id-3 {
		max-width: 55%;	
	}	
}
@media screen and (min-width:1450px) {
	#ui-id-1,ul#ui-id-3 {
		max-width: 768px !important;
		width: 768px !important;
		min-width: 768px;			
	}	
}
@media screen and (min-width:900px) {
    #ui-id-1, #ui-id-2,ul#ui-id-3{
        font-size: 14px;
        min-height: 565px;
    }
    .br-suggest-right {
        min-height: 235px;	
    }
    .br-suggest-right.br-suggest-product-4, .br-suggest-right.br-suggest-product-5, .br-suggest-right.br-suggest-product-6 {
        top: 270px;
    }
    .ui-menu .ui-menu-item.br-suggest-right {
        padding: 5px !important;	
    }
    .autocomplete-title {
        padding: 0 2% 0 2%;
    }
    .br-suggest-right.ui-menu-item:hover {
        margin-top: 0px !important;
    }
    .ui-autocomplete-category.br-suggest-divider {
        height: 580px;
    }
}
@media screen and (min-width:1000px) {
    .br-suggest-right.ui-menu-item:hover {
        margin-top: 3px !important;
    }
}
@media screen and (min-width:1100px) {
    #ui-id-1, #ui-id-2,ul#ui-id-3 {
        font-size: 15px;	
    }
    .br-suggest-right.ui-menu-item:hover {
        margin-top: 5px !important;
    }
}
/* End Bloomreach Guided Search */