.ech-shi-footer{
	width: 100%;
	margin:0 auto;
}  
.ech-shi-footer-contianer{
	padding: 2% 5% 0%;
	font-size: 15px;
}
.ech-shi-newletter{
	float: left;
	width: 50%;
	color: #666;
	font-family: @fontGTWalsheimLight;
	p{
		padding-top: 0px;
		margin-top: 0px;
	}
	.ech-shi-news-header{
		padding-bottom: 0px;
		margin-bottom: 0px;
		font-size: 26px;
	}
}
.ech-shi-newletter1{
	float: right;
	text-align: right; 
	width: 50%;
	color: #666;
	margin-top: 5px;
}
.clear{ 
	clear: both;
}
.ech-shi-news-header{
	font-family: @fontGTWalsheimBold;
	font-size: 26px; 
	color: @primaryDarkBlue;
}
.ech-shi-newletter1 form {
	position: relative;
	p {
		position:absolute;bottom:0;right:0;color:red;margin:0;padding:0;font-size:15px;
	}
}
.ech-shi-newletter1 input[type="text"]{
    border-radius: 3px 0px 0px 3px;
    border: 1px solid #03C5AE;
    width: 260px; 
    outline: none;
    font-size: 15px;
    padding: 15px 10px;
    border-right: 0px;
    color: #666;
    transition:0.3s ease-in-out;
}
.ech-shi-newletter1 button{
    background-color: #00B09B;
    color: #fff;
    padding: 15px 15px;
    text-transform: uppercase;
    margin-left: -5px;
    border: 1px solid #00B09B;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}
.ech-shi-footer-about{
	background-image: url('../resources/images/footer_image_newclr2.png');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 237px;
	font-family: @fontRoboto;
}
.ech-shi-footer-abt-cont{
	padding: 0% 5%;
    max-width: 1100px;
    margin: 0 auto;
    color: #C1C1C1;
    font-size: 14px; 
    line-height: 1.5;
}
.ech-shi-footer-abt-cont img{
	margin-right: 30px;
}
.ech-shi-footer-links{
    background-color: @secondaryBlue;
 /*   padding: 5% 5% 2% 5%;*/
    color: #D6D6D6;
    font-family: @fontGTWalsheimLight;
}
.ech-shi-bottom-footer{
    background-color: @primaryDarkBlue;
    padding: 0% 5%;
    color: #D6D6D6;
    font-family: @fontGTWalsheimLight;
    display: none;
}
.ech-shi-footer-links ul{
	text-align: left;
    padding: 0px 10px;
    margin: 0 auto;
}
.ech-shi-footer-links ul li{
	display: inline-block;
	vertical-align: top;
    list-style-type: none;
    width: 19%;
    text-align: left;
    font-size: 13px;
}
.ech-shi-footer-links ul li ul li{
	display: inherit;
    list-style-type: none;
    width: 100%;
    padding-bottom: 8px;
    text-transform: capitalize;
}
.ech-shi-footer-links ul li ul li a{
	 color: @primaryDarkBlue;
	 text-decoration: none !important;
}
.ech-shi-footer-links ul li ul li a:hover{
	 color: #fff;
}
.ech-shi-footer-links ul li ul li:first-child{
    font-size: 20px;
   	margin-bottom: 15px !important;
	color: @primaryDarkBlue;
	pointer-events: none;
	font-family: @fontGTWalsheimBold;
	margin-top: 50px;
}
.ech-shi-footer-links ul li ul li.ech-shi-connect{
    font-size: 20px;
    color: #fff;
    pointer-events: none;
    font-family: @fontGTWalsheimBold;
    margin-top: 70px;
}
.ech-shi-footer-links ul li ul li ul li{
	display: inline;
} 
.ech-shi-footer-links ul li ul li ul li i{
    font-size: 20px;
    margin-right: 10px;
}
.footer_open_color {
	@primaryDarkBlue;
}
.ech-shi-bottom-footer-one{
	float: left;
	width: 15%;
}
.ech-shi-bottom-footer-two{
	float: left;
	width: 85%;
}
.ech-shi-bottom-footer ul li{
    display: inline-block;
    list-style-type: none;
    font-size: 13px;
    border-right: 2px solid #888;
    padding: 0px 12px 0px 8px;
    line-height: 11px;
}
.ech-shi-bottom-footer ul li{
	color: #6b88a1;
}
.ech-shi-bottom-footer ul li a{
	color: #6b88a1;
	text-decoration: none;
}
.ech-shi-bottom-footer ul li a:hover{
	color: #fff;
}
.ech-shi-bottom-footer ul li:last-child{
	 border-right: 0px;
}
.ech-shi-developed{
	text-align: right;
	img{
		vertical-align: inherit;
	}
}

.ech-shi-developed{
    color: #6b88a1;
    font-size: 13px;
    margin-top: 10px;
}
.ech-shi-ourother-sites{
	display: none;
}
.ech-shi-ourother-sites-contianer{
    padding: 0% 5% 0%; 
}
.ech-shi-our-sit-one{
	float: left;
	width: 18%;
}
.our-other-site-heading{
    font-size: 18px;
    color: #2B2B2B;
    font-family: @fontMontserratRegular;  
    margin-top: 25px;
}
.ech-shi-our-sit-two{
	float: left;
	width: 40%;
}
.ech-shi-our-sit-two p{
	font-size: 15px;
    color: #666;
    line-height: 1.5;
}
.ech-shi-our-sit-two p img{
	margin-right: 26px;
	max-width: 100%; 
}
.ech-shi-footer-links ul li ul li:last-child {
    margin-bottom: 25px;
}
.display-inmobile-social{
	display: none;
    margin-bottom: 20px;
    padding-top: 20px;
}
.ech-shi-bottom-footer-two ul.display-inmobile-social li{
	display: inline;
	font-size: 25px;
}
.display-inmobile-social li a i{
	color: #fff;
}
.ech-shi-footer-links ul li ul li:first-child span{
    float: right;
}
.ech-shi-footer-links ul li ul li:first-child span{
		display: none;
		float: right;
}
.ech-shi-left{
	float: left;
	width: 30%;
	@media (min-width: 1025px) {
		position: relative;
		top: 80px;
	}
}
.ech-shi-right{
	float: left;
	width: 70%;
	@media (min-width: 1025px) {
		position: relative;
		top: 90px;
		float: right;
	}

}
.ech-shi-bottom-footer{
 	font-family: 'RobotoRegular';
}
.hide-mobile li{
    pointer-events:inherit !important;
}
button#add-to-cart.is-disabled {
    background-color: #f7f7f7 !important;
    color: #989898 !important;
    border-color: #989898 !important;
    cursor: not-allowed;
}
.ech-shi-bottom-footer .ech-shi-developed{
	color:#c1c9d2;
	a{
		color:#c1c9d2;
	}
}


/* new CSS for new branding 2017 */
#mz-drop-zone-footer-section {
	padding: 10px;
	box-sizing: border-box;
}
#mz-drop-zone-footer-section > .mz-cms-row {
	margin: 10px 0;
	text-align: center;
	font-family: @fontFamily;
	color: @textColor;
	& .mz-cms-col-4-12 {
		margin: 10px 0;
	}
	& .mz-cms-content {
		padding: 0 !important;
	}
}
#mz-drop-zone-footer-section h2 {
	color: @primaryDarkBlue;
	font-family: @fontGTWalsheimBold
}
.other-sites-container {
	margin: 20px 0;
	& .other-sites-image1 img {
		max-width: 190px;
	}
	& .other-sites-logo-container {
		font-size: 12px;
		margin: 0 auto;
		max-width: 190px;
	}
}
.site-logo-container {
	margin: 20px 0;
	& img {
		max-width: 270px;
	}
	& .phone-container {
		text-align: center;
	    font-size: 22px;
	    font-family: @fontGTWalsheimBold;
	    position: relative;
	    top: -8px;
	    margin: 0 auto;
	}
}
#mz-drop-zone-footer-section .copyright-info-main-container {
	box-sizing: border-box;
	& .mcafee-container {
		display: inline-block;
		box-sizing: border-box;
		width: 30%;
		margin: 0 9.5%;
	}
}
#mz-drop-zone-footer-section .bizrate-outer-container {
	box-sizing: border-box;
	display: inline-block;
	width: 30%;
	margin: 0 9.5%;
	& .bizrate-inner-container img {
	    width: 100%;
	    height: auto;
	}
}
#mz-drop-zone-footer-section .copyright-info-container {
	margin-top: 15px;
	& p {
		margin: 0;
		font-size: 12px;
	}
}

/* end new 2017 CSS */


@media (max-width: 1249px){
	.ech-shi-developed{
		text-align: left;
	}
	.ech-shi-bottom-footer ul li{
		margin-bottom: 10px;
	}
	.ech-shi-developed{
		margin-top: 0px;
		padding-bottom:10px;
	}
	.ech-shi-popular-cat-widget .popular-cat-heading::before, .ech-shi-popular-cat-widget .popular-cat-heading::after{
		width: 22% !important;
	}
	.ech-shi-bottom-footer .ech-shi-developed{
		text-align: center !important;
	}
}
@media (max-width: 1200px){
	.ech-shi-bottom-footer-one{
		float: none;
		width: 100%;
		margin-bottom: 20px;
		text-align: left;  
	}
	.ech-shi-bottom-footer-two ul{
		text-align:left;
		padding:0px;
	}
	.ech-shi-bottom-footer-two{
		float: none;
		width: 100%;
		text-align: center;
	}
	.ech-shi-bottom-footer-two ul, .ech-shi-bottom-footer-one{
		text-align: center !important;
	}
	.ech-shi-our-sit-one, .ech-shi-our-sit-two{
		float: none;
		width: 100%;
		text-align: left;
		margin-bottom: 30px;
		margin-top: 15px;
	}
	.ech-shi-our-sit-two{
		text-align: left;
	}
	.ech-shi-our-sit-two p{
		margin-bottom: 30px;
	}
}
@media (max-width: 996px){
	.ech-shi-footer-links ul li ul li.ech-shi-connect{
		margin-top: 20px;
	}
	.ech-shi-popular-cat-widget .popular-cat-heading::before, .ech-shi-popular-cat-widget .popular-cat-heading::after{
		width: 18% !important;
	}
}
@media (max-width: 900px){
	.ech-shi-newletter, .ech-shi-newletter1{
		float: none;
		width: 100%;
		text-align: center;
		margin-bottom: 25px;
	}
	.ech-shi-right{
		float:inherit;
		width:100%;
	}
	.ech-shi-newletter, .ech-shi-newletter1, #mz-drop-zone-footer-baloon-content{
		text-align: left;
	}
	#mz-drop-zone-footer-baloon-content{
		h2{
			margin:0px;
			padding:5px 15px;
		}
		.mz-cms-content{
			padding: 0px 15px;
		}
	}
	#mz-drop-zone-footer-baloon .mz-cms-content{
			padding: 0px 15px;
	}
	#mz-drop-zone-footer-baloon .mz-cms-image-cover{
		float: none !important;
	}
	/*.ech-shi-left, .ech-shi-right{
		float: none;
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}*/
	.ech-shi-right{
		margin-top: 0px;
	}
	.ech-shi-footer-abt-cont {
	    padding: 5% 1%;
	}
	.ech-shi-our-sit-two span{
		display: none;
	}
}
@media (max-width: 832px){
	.ech-shi-popular-cat-widget .popular-cat-heading::before{
		width: 15% !important;
		left: 6% !important;
	}
	.ech-shi-popular-cat-widget .popular-cat-heading::after{
		width: 15% !important;
		right: 6% !important;
	}
}    
@media (max-width: 676px){
	.display-inmobile-social{
		display: block;
	}
	.ech-shi-footer-links ul li ul.hide-mobile li, .ech-shi-footer-links ul li ul li.ech-shi-connect{
		display: none !important;
	}
	.ech-shi-connect, .hide-mobile{
		display: none !important;
	}
}
@media (max-width: 640px){
	#selected-filters-mobile{
		padding: 0px !important;
	}
}
@media (max-width: 610px){
	.ech-shi-bottom-footer ul li{
		display: inherit;
		border-right: 0px;
	}
}
@media (max-width: 495px){
	.ech-shi-bottom-footer-two {
		ul.display-inmobile-social li{
			padding-right:12px;
		}
		ul li{
			padding-right:0px;
		}
		.ech-shi-footer-links ul li{
			display:inline !important;
		}
	}
	.ech-shi-footer-links ul{
		text-align: left;
	}
	.mz-productlisting.mz-productlist-tiled{
		/* height: 330px; */
	}
	.ech-shi-footer-links ul li, .ech-shi-footer-links ul li ul{
		width: 100% !important;
	}
	.ech-shi-footer-links ul li ul li{
		display: none;
	}
	.ech-shi-footer-links ul li ul li:first-child, .ech-shi-footer-links ul li ul li:first-child span{
		display: block;
	}
	.ech-shi-newletter1 input[type="email"]{
		width: 180px;
	}
	.ech-shi-footer-links ul li ul li:first-child{
		pointer-events: inherit;
	}
	.ech-shi-footer-links {
 		 padding: 5% 5% 2% 0%;
	}
}
@media (max-width: 438px){
	.ech-shi-newletter1 input[type="email"]{
		border-right: 2px solid #03C5AE;
	}
}
@media (max-width: 352px){
	.ech-shi-newletter1 input[type="email"]{
		width: 148px;
	}
}
.ech-shi-footer-abt-cont > center > svg {
	display: none;
}
