.mz-filters-btn span{
    position:relative;
    top:-20px;
}
.mz-facetingform {
    /*
    padding-right: @gutter/2;
    border-right: 1px solid #eee;
    */ 
    h4 {
        border-bottom: 1px solid #eee;
        margin: 0 0 5px;
        font-size: @fontSizeLarger;
    }
    .mz-facetingform-facet {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            margin: 8px 0;
            position: relative;
        }
        a {
            text-decoration: none;
        }
    }
    .mz-facetingform-valuelabel {
        /*display: inline;
        margin-left: 8px;
        pointer-events: none;*/
       display: inline-block;
  pointer-events: none;
  vertical-align: super;    
}  

    .mz-facetingform-facet-hierarchy {
        .mz-facetingform-facet-hierarchy {
            li {
                margin: 0 0 4px 0.5em;
                line-height: 1em;
                &::before {
                    /*
                    display: inline-block;
                    content: "\221F";
                    font-size: @fontSizeLarger;
                    */
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .mz-facetingform-valuelabel {
        display: inline;
        margin-left: 8px;
        /*cursor: none;  */
        pointer-events: none;
    }  
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .mz-facetingform-valuelabel {
        display: inline;
        margin-left: 8px;
        /*cursor: none;  */
        pointer-events: none;
    }  
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 736px){
    .mz-facetingform-valuelabel {
        display: inline;
        margin-left: 8px;
        /*cursor: none;  */
        pointer-events: none;
    }  
  }
