.clear {
    clear: both;
} 
.mz-mobile-filter { 
    display: block;
    @media (min-width: 1151px) {
        display: none;
    }
} 
 .facetsclick {
    cursor: pointer;
    }
    .catmob{
    padding-left: 3% !important;
}
  .mzsz-rating{
    display: -webkit-flex;
    -webkit-flex-direction: column-reverse; 
    .ratestar{
        color: @secondaryYellow;
    }
    .nostar{ 
        color: @disabled-grey;
    }
  }
.andup { 
    color: @disabled-grey;
    text-transform: lowercase;
}  
#recommended_products_slot{
    clear: both;
}
    .bundle-compo-more {
    padding: 0 0 0 20px;
    li{  
        list-style-type: none;
    }
        .facets-more,.sz-seemoretitle,.facets-less{
            display: inline-block;
            color: #516db2;
            padding: 0;
            cursor: pointer;
            font-family: @fontGTWalsheimMedium;
            font-size: 11px;
            text-transform: none;
        }
        .sz-seemoretitle{
            text-transform: lowercase;
        }
    }
.facet-heading,.facet-heading-single{
    cursor: pointer;
    border-top: 1px solid @secondaryWhite;
    .seemorecaret{
        color: @primaryBlue;
        font-size: 12px;
        float: right;
        margin-right: 5%; 
        padding-top: 2%;
    }
} 
.semorecaret{
    color: @secondaryBlue;
    font-size: 15px;
    margin-left: 10%;
} 
.cate-head{
    font-size: 15px;
    padding-left: 6px;
}
.mz-facetingform-value {
    display: inline;
    left: 10px;
    position: absolute;
    opacity: 0;
    top: 6px;
    width: 90% !important;
}
.catgeory-facets{
    .mz-facetingform-link{
        font-family: @fontFamily;
        padding-left: 20px;
        font-size: 13px; 
    }
}
.mz-facetingform-valuelabel:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 15px;
        background: none;
        margin: -1px 9px;
        vertical-align: bottom;
        border-radius: 4px;
        border: 1px solid @primaryDarkBlue;
}
.mz-facetingform-value:checked + .mz-facetingform-valuelabel:before  {
    background: @primaryDarkBlue;
    border: 1px solid @primaryDarkBlue;
}
.desktop .mz-facetingform .mz-facetingform-facet li{
    font-family: @fontFamily;
}
.selected-filter:hover{
    background-color: #fff;
    border-color: @primaryDarkBlue;
}
.mz-facetingform-clearall.selected-filter:hover{
    box-shadow: none;
}
.selected-filter {
    display: inline-block;
    padding: 6.25px 25px 6.25px 14px;
    border: 1px solid @secondaryWhite;
    display: inline-block;
    border-radius: 2px;
    position: relative;
    margin-left: 9px;
    transition: 0.3s ease-in-out;
    a {
        color: @primaryDarkBlue;
        display: block;
        position: absolute;
        padding: 0px 2px;
        right: 7px;
        top: 7px;
        cursor: pointer;
        text-transform: uppercase
    }
}
.mz-facetingform-clearall.selected-filter {
    padding: 7.5px 14px 7.5px 14px;
    background-color: @secondaryWhite;
}
.mz-filters {
    display: inline-block;
    position: relative;
    >.mz-filters-btn {
        font-size: 14px;
        padding: 0px 0 0 30px;
        color: white;
        background: @primaryDarkBlue;
        border: solid @primaryDarkBlue 1px;
        text-decoration: none;
        text-align: left;
        width: 100%;
        height:inherit;
        line-height: .8;
        box-sizing: border-box;
        @media @tablet {
            font-size: 24px;
        }
        &:after {
            content:" ";
            background-image: url(../resources/images/drop.png);
            background-size: 25px;
            width: 26px;
            height: 26px;
        }
    }
    .mz-filters-btn.disabled {
        background: #ccc;
        border: solid #ccc 1px;
        color: #fff;
    }
    #filters-close-btn {
        display: none;
        position: absolute;
        right: 30px;
        top: 8px;
        background-color: transparent;
        font-size: 24px;
        border: none;
        i {
            color: @primaryDarkBlue;
        }
    }
}
.mz-filter-options {
    display: none;
    box-sizing: border-box;
    max-width: 238px;
    float: left;
    padding-left: 10px;
    @media @desktop { 
        display: block;
        .mz-facetingform.mz-filters {
            display: block;
        }
    }
    .mz-filter-inputs {
        float: left;
        width: auto; 
        margin-top: 20px;
        text-align: left;
        max-width: 65%;
        margin-left:1%;
        > div.mz-facetingform-facet {
            display: none;
            overflow: auto;
            max-height: 400px;
            white-space: nowrap;
            > ul {
                width: 100%;
                list-style: none;
                padding: 0;
                margin: 0;
                float: left;
            }
        }
        .mz-facetingform-valuelabel {
            font-family: @RobotoRegular;
        }
        div.mz-facetingform-facet {
            white-space: normal;
        }
    }
}
//brought from default and custom css
.mz-filter-options .mz-l-sidebaritem li.br-facet-color {
	display: list-item;	
}
/* FACET COLOR SWATCHES */
.br-facet-color .mz-facetingform-value {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	opacity: 0;
	left: 3px;
	top: 5px;
}
.mz-mobile-filter ul.mz-facetingform-facet.mz-facetingform-facet-hierarchy  {
	overflow: hidden;	
}
.filter-level-1 {
	clear: both;	
}
.mz-facetingform .mz-facetingform-valuelabel {
	margin: 5px 0;
    font-size: 14px;
    vertical-align: middle;
    @media @tablet {
		font-size: 16px;
	}
}
.mz-mobile-filter ul.mz-l-sidebaritem-mobile ul li.br-facet-color {
	margin-bottom: 0;		
}
.br-facet-color .mz-facetingform-valuelabel:before {
	display: none;	
}
.br-facet-color .mz-facetingform-valuelabel .mz-facetingform-valuecount {
	display: none;	
}
.mz-filter-options .mz-l-sidebaritem li.br-facet-color {
	float: left;
	position: relative;
	margin: 0 1px;
}
.br-facet-color .mz-facetingform-valuelabel {
	border: 1px solid #eee;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width: 25px;
	height: 25px;
	overflow: hidden;
	display: inline-block;	
	box-sizing: border-box;
}
.br-facet-color.br-color-selected .mz-facetingform-valuelabel {
	border: 2px solid @textColor;	
}
.mz-filter-mobile-options .br-facet-color .mz-facetingform-valuelabel {
	float: left;	
}
.br-facet-color.br-color-assorted .mz-facetingform-valuelabel {
	background: red; /* For browsers that do not support gradients */
  /* Safari 5.1 to 6.0 */
  /*background: -webkit-repeating-linear-gradient(red, yellow 10%, blue 20%);*/
  /* Opera 11.1 to 12.0 */
  /*background: -o-repeating-linear-gradient(red, yellow 10%, blue 20%);*/
  /* Firefox 3.6 to 15 */
  /*background: -moz-repeating-linear-gradient(red, yellow 10%, blue 20%);*/
  /* Standard syntax */
  /*background: repeating-linear-gradient(red, yellow 10%, blue 20%);*/
	color: rgba(255, 255, 255, 0);	
	background-image: url("//cdn-tp2.mozu.com/16647-m1/cms/files/290414f9-f312-49ce-ba8b-5c7193e5294c");
	background-size: contain;
	background-repeat: none;
}
.br-facet-color.br-color-beige .mz-facetingform-valuelabel {
	background-color: #A49480;
	color: #A49480;		
}
.br-facet-color.br-color-black .mz-facetingform-valuelabel {
	background-color: #000;
	color: #000;		
}
.br-facet-color.br-color-blue .mz-facetingform-valuelabel {
	background-color: #0000ff;
	color: #0000ff;		
}
.br-facet-color.br-color-brown .mz-facetingform-valuelabel {
	background-color: #663300;
    color: #663300;
}	
.br-facet-color.br-color-pastel-yellow .mz-facetingform-valuelabel {
	background-color: #fdfd96;
	color: #fdfd96;		
}
.br-facet-color.br-color-light-pink .mz-facetingform-valuelabel {
	background-color: #ffb6c1;
	color: #ffb6c1;		
}
.br-facet-color.br-color-burgundy .mz-facetingform-valuelabel {
	background-color: #800020;
	color: #800020;		
}
.br-facet-color.br-color-clear .mz-facetingform-valuelabel {
	background: #FFF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(45deg, #FFF, #ADD8E6, #FFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(45deg, #FFF, #ADD8E6, #FFF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(45deg, #FFF, #ADD8E6, #FFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(45deg, #FFF, #ADD8E6, #FFF); /* Standard syntax */
	color: rgba(255, 255, 255, 0);		
}
.br-facet-color.br-color-coral .mz-facetingform-valuelabel {
	background-color: #FF7F50;
	color: #FF7F50;		
}
.br-facet-color.br-color-gold .mz-facetingform-valuelabel {
	background-color: #D4AF37;
	color: #D4AF37;		
}
.br-facet-color.br-color-gray .mz-facetingform-valuelabel {
	background-color: #A9A9A9;
	color: #A9A9A9;		
}
.br-facet-color.br-color-green .mz-facetingform-valuelabel {
	background-color: #4CBB17;
	color: #4CBB17;		
}
.br-facet-color.br-color-hot-pink .mz-facetingform-valuelabel {
	background-color: #FF1493;
	color: #FF1493;		
}
.br-facet-color.br-color-ivory .mz-facetingform-valuelabel {
	background-color: #f5f5dc;
	color: #f5f5dc;		
}
.br-facet-color.br-color-lavender .mz-facetingform-valuelabel {
	background-color: #B378D3;
	color: #B378D3;		
}
.br-facet-color.br-color-light-blue .mz-facetingform-valuelabel {
	background-color: #ADD8E6;
	color: #ADD8E6;		
}
.br-facet-color.br-color-lime-green .mz-facetingform-valuelabel {
	background-color: #00FF00;
	color: #00FF00;		
}
.br-facet-color.br-color-multicolor .mz-facetingform-valuelabel {
	background: red; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
	color: rgba(255, 255, 255, 0);		
}
.br-facet-color.br-color-navy-blue .mz-facetingform-valuelabel {
	background-color: @primaryDarkBlue;
	color: @primaryDarkBlue;		
}
.br-facet-color.br-color-orange .mz-facetingform-valuelabel {
	background-color: #fa8125;
	color: #fa8125;		
}
.br-facet-color.br-color-pink .mz-facetingform-valuelabel {
	background-color: #FF69B4;
	color: #FF69B4;		
}
.br-facet-color.br-color-purple .mz-facetingform-valuelabel {
	background-color: #551A8B;
	color: #551A8B;		
}
.br-facet-color.br-color-red .mz-facetingform-valuelabel {
	background-color: #FF0000;
	color: #FF0000;		
}
.br-facet-color.br-color-silver .mz-facetingform-valuelabel {
	background-color:#C0C0C0 ;
	color: #C0C0C0;		
}
.br-facet-color.br-color-turquoise .mz-facetingform-valuelabel {
	background-color: #00C5CD;
	color:#00C5CD ;		
}
.br-facet-color.br-color-white .mz-facetingform-valuelabel {
	background-color: #FFF;
	color: #FFF;		
}
.br-facet-color.br-color-yellow .mz-facetingform-valuelabel {
	background-color: #FFFF00;
	color: #FFFF00;		
}
.br-facet-color.br-color-mint-green .mz-facetingform-valuelabel {
	background-color: #98FB98;
	color: #98FB98;		
}
.filter-color-list{
	padding: 0 2%;	
}
/* END FACET COLOR SWATCHES */
.mz-filter-options .mz-facetingform.mz-filters{
    margin-top:-7px;
    width: 100%;
}
#selected-filters-collection {
    padding: 10px;
    background-color: #fff;
    .selected-filter {
        padding: 6.25px 40px 6.25px 14px;
        border: 1px solid @secondaryBlue;
        display: inline-block;
        border-radius: 4px;
        position: relative;
        a {
            color: @secondaryBlue;
            display: block;
            position: absolute;
            padding: 0px 6px;
            right: 7px;
            top: 7px;
            cursor: pointer;
            text-transform: uppercase
        }
    }
}
#mz-drop-zone-category-page-top .mz-cms-content{
    padding: 0px;
}
.desktop .mz-facetingform-facet-hierarchy .mz-facetingform-facet-hierarchy li {
    margin: 0 0 4px 0.5em;
    line-height: 1em;
    display: inline-flex;
    width: 250px;
    a {
        display: block;
        padding: 12px 0;
    }
}
.desktop .mz-facetingform .mz-facetingform-facet li {
    display: inline-block;
    width: 230px;
    vertical-align:top;
}
//Mac safari fix color facets
.filter-color-list li:not(:root:root){
    line-height: 1px;
}
.mz-sortby .selectric-wrapper {
	width: 150px;
}
/*===================Selectric v1.9.6=========================*/
.selectric, .selectric-items{
    font-family: @fontLight;
}
.selectric-wrapper {
    position: relative;
    cursor: pointer;
}
.selectric-responsive {
    width: 100%;
}
.selectric {
    position: relative;
    border-radius: 2px;
}
.selectric-items li{
    background-color:#fff !important;
}
.selectric-items li:hover {
    background: @secondaryWhite !important;
    color: #444444;
}
.selectric .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px 0 5px;
    padding-top: 5px;
    font-size: 11px;
    color: @disabled-grey;
    height: 20px;
    text-transform: uppercase;
}
.selectric .button {
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
    margin: auto;
    @media @tablet {
        display: none;
    }
}
.selectric-hover .selectric {
    border-color: #C4C4C4;
}
.selectric-hover .selectric .button {
    color: #A2A2A2;
}
.selectric-hover .selectric .button:after {
    border-top-color: #A2A2A2;
}
.selectric-open {
    z-index: 9999;
}
.selectric-open .selectric {
    border-color: #C4C4C4;
}
.selectric-open .selectric-items {
    display: block;
}

.selectric-disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectric-hide-select {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;
    box-sizing: border-box;
}
.selectric-hide-select select {
    position: absolute;
    left: -100%;
    display: none;
}
.selectric-input {
    display: none;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: none !important;
    border: none !important;
    background: none !important;
}
.selectric-temp-show {
    position: absolute !important;
    visibility: hidden !important;
    display: block !important;
}
/* Items box */
.selectric-items {
    display: none;
    position: absolute;
    top: auto;
    left: auto;
    background: #F8F8F8;
    border: 1px solid #C4C4C4;
    z-index: -1;
    box-shadow: 0 0 10px -6px;
    width: 100% !important;
    @media (min-width: 768px) {
        top: 54px;
        left: 0;
    }
    @media (min-width: 1151px) {
        top: 35px;
        left: 0;
    }
}
.selectric-items .selectric-scroll {
    height: 100%;
    overflow: auto;
}
.selectric-above .selectric-items {
    top: auto;
    bottom: 100%;
    width: 100% !important;
}
.selectric-items ul, .selectric-items li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    min-height: 20px;
    @media @tablet {
        font-size: 14px;
    }
}
.selectric-items li {
    display: block;
    padding: 8px;
    border-top: 1px solid @secondaryWhite;
    border-bottom: 1px solid @secondaryWhite;
    color: @disabled-grey;
    cursor: pointer;
    text-transform: uppercase;
}
.selectric-items li.selected {
    background: @secondaryWhite;
    color: @disabled-grey;
}
.selectric-items li:hover {
    background: #F0F0F0;
    color: @textColor;
}
.selectric-items .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: @textColor !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}
.selectric-items .selectric-group .selectric-group-label {
    padding-left: 10px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
    background: none;
    color: #444;
} 
.selectric-items .selectric-group.disabled li {
    filter: alpha(opacity=100);
    opacity: 1;
} 
.selectric-items .selectric-group li {
    padding-left: 25px;
} 
.icon-final-swap:hover img{
    width:40px !important;
}
.mz-mobile-filter .mz-page-filters-controls{
    .selectric{
   background-color: inherit !important;
   border:0px !important;
   } 
   .mz-paging-title{
       margin-top: 1px;
       width: 20px;
   }
}
.mz-mobile-filter .selectric{
    margin: 0;
    height: inherit;
}
.mz-filters-bar .mz-sort{
    .mz-sort-btn{
        margin-top: 0;
    }
    .selectric-responsive {
        width: 100% !important;
        text-align: center;
    }
    .selectric .label{
        margin: 0;
        font-size: 14px;
        line-height: 2.5;
        @media @tablet { 
            display: inline-block;
            margin: 0;
            font-size: 24px;
            overflow: visible;
            line-height: 55px;
            color: @primaryDarkBlue;
            font-family: @fontFamily;
        }
    }
}
.mz-mobile-filter {
    .mz-page-filters-controls {
        select {
            border: none;
        }
    }
    .mz-sort-btn {
        font-family: @fontFamily;
        font-size: 14px;
        padding: 3.5px 0;
    }
    .mz-filter-mobile-options {
        display: none;
        overflow: auto;
        position: fixed;
        width: 100%;
        top: 0;
        background-color: #fff;
        @media @tablet {
            width: 92%;
        }
        header {
            padding: 5px;
            @media @tablet {
                background: @white;
            }
        }
        z-index: 99999;
        .mz-facetingform {
            position: relative;
            box-shadow: 0px 3px 4px 2px #ccc;
            @media @desktop {
                height: 100vh;
            }
        }
        ul {
            list-style: none;
            padding: 0; 
        }
        ul.filter-level-2 > li > a {
            color: @primaryDarkBlue;
            text-decoration: none;
            display: block;
            padding: 4px;
            font-size: 12px;
        }
    }
    .mobile-filter-footer {
        text-align: center;
        //position: absolute;
        width: 100%;
        //bottom: 62px;
        > .mz-apply-btn,
        > .mz-facetingform-clearall {
            font-family: @fontFamily;
            font-size: 18px;
            padding: 13px 0;
            color: #fff;
            background: @primaryCTA;
            border: solid @primaryCTA 1px;
            text-decoration: none;
            text-align: center;
            width: 48%;
            text-transform:uppercase;
        }
        > .mz-facetingform-clearall {
            background-color: @secondaryWhite;
            color: @primaryDarkBlue;
            border: solid @primaryDarkBlue 1px;
        }
    }
    ul.mz-l-sidebaritem-mobile {
        list-style: none;
        height: 750px;
        padding: 0;
        overflow: auto;
        ul {
            display: none;
            li{
                margin-bottom: 8px;
                position: relative;
                @media @tablet {
                    padding-left: 15px;
                }
                &:last-of-type {
                    margin-bottom: 10px;
                }
            }
        }
        > li > .facetheadmob {
            font-family: @fontFamily;
            display: block;
            padding: 6px 18px;
            font-size: 18px;
            color: @primaryDarkBlue;
            text-transform: capitalize;
            & i.fa {
                font-size: 14px;
            }
        }
    }
    select.mz-filters {
        width: 100%;
    }
    .mz-filters {
        .mz-filters-btn {
            text-align: center;
        }
    }
    .mz-sort {
        width: 50%;
        float: right;
        text-align: center;
        box-sizing: border-box;
        background-color: @secondaryWhite;
        height: 35px;
        @media (min-width: 768px) {
            height: 57px;
        }
        .mz-sort-btn {
            width: 50%;
            color: @primaryDarkBlue;
            background: @secondaryWhite;
            text-decoration: none;
            text-align: center;
            display: inline-block;
            height: inherit;
            margin: 0;
            padding: 0;
        }
    }
}
@media only screen and (max-width:800px) and (min-width:641px){
    .mz-page-filters-controls{
        font-size: 10px;
        .mz-pagingcontrols, .mz-sortby{
            width:auto !important;
        }
    }
    .mz-l-paginatedlist .mz-pagingcontrols {
        margin-left: 8px;
    }
}
@media only screen and (min-width: 1162px) and (max-width: 1251px){
    .mz-category .mz-l-paginatedlist, .mz-searchresults .mz-l-paginatedlist {
        width: 78.5% !important;
    }
    .mz-productlisting-image .quick-view {
        width: 130px !important;
        a {
            width: 110px !important;
            padding: 5px !important;
        }
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1161px){
    .mz-category .mz-l-paginatedlist, .mz-searchresults .mz-l-paginatedlist {
        width: 75.5% !important;
    }
    .mz-productlisting-image .quick-view {
        width: 138px !important;
        a {
            width: 110px !important;
        }
    }
    .mz-page-filters-controls {
        padding-right: 0% !important;
    }
}
@media @tablet {
    .mz-category .mz-l-paginatedlist, .mz-searchresults .mz-l-paginatedlist {
        width: 75% !important;   
    }
    .mz-page-filters-controls .mz-pagingcontrols-pagestate-label {
        font-size: 10px;
        margin-top: 8px;   
    }
    i.close-option {
        padding-right: 2%;
    }
    .mz-pagenumbers .mz-pagenumbers-prev, .mz-pagenumbers .mz-pagenumbers-next, .mz-pagenumbers .mz-pagenumbers-number {
        padding: 4px !important;
    }
    .mz-productlisting-image .quick-view {
        display: none;
        position: absolute;
        height: 21%;
        top: 30%;
        width: 130px !important; 
        left: 0;
        right: 0;
        margin: auto;
    }
    .mz-productlisting-image .quick-view a {
        display: inline-block;
        width: 100px !important;
        padding: 5px 5px !important;
        font-size: 14px !important; 
    }
    .mz-category .mz-l-paginatedlist, .mz-searchresults .mz-l-paginatedlist {
        width: 100% !important;
    }
    .mz-page-filters-controls.desktop{
        display: none;
    }
    .mz-filters-bar {
        padding-right: 0 !important;
    }
    .mz-filters-bar .mz-sort img, .mz-sort img {
        display: none !important;
    }
    .mz-mobile-filter .mz-filters .mz-filters-btn {
        width: 100%;
        height: inherit;
        line-height: 2.7;
    }
    .mz-filters .mz-filters-btn i {
        margin-top: 12px !important;
    }
    .mz-facetingform-valuelabel:before {
        content: '';
        display: inline-block;
    }
    .mz-facetingform-value { 
        display: inline-block;
        margin-left: 5px;
        opacity: 0;
        position: absolute;
        left: 15px;
    }
    #selected-filters-mobile-static, #selected-filters-mobile {
        background-color: #fff;
    }
    .mz-productlisting-image .quick-view {
        position: absolute;
        height: 21%;
        top: 30%;
        width: 112px !important;
        left: 0;
        right: 0;
        margin: auto;
    }
    .mz-productlisting-image .quick-view a {
        display: inline-block;
        width: 100px !important;
        padding: 5px 5px !important;
        font-size: 14px !important;
    }
    .mz-filters-bar {
        padding-right: 0 !important;
    }
    .mz-mobile-filter .mz-filters .mz-filters-btn {
        width: 100%;
        height: inherit;
        line-height: 2.5;
    }
    .mz-filters .mz-filters-btn i {
        margin-top: 12px !important;
    }
    .mz-facetingform-valuelabel:before {
        content: '';
        display: inline-block;
    }
    .mz-facetingform-value {
        display: inline-block;
        margin-left: 5px;
        opacity: 0;
        vertical-align: top; 
        position: absolute;
        left: 10px;
        margin-top: 8px !important;
    }
    i.close-option{
        padding-right: 3%;
    }
    #selected-filters-mobile-static, #selected-filters-mobile {
        background-color: #fff;
    }
    .mz-mobile-filter .selectric {
        margin-top: 0px;
        height: 57px;
    }
}
@media @smallmobile {
    .mz-filter-options .mz-filter-inputs{
        width: 63%;
    }
    .mz-category .mz-l-paginatedlist, .mz-searchresults .mz-l-paginatedlist {
        width: 100% !important;
    }
    .mz-page-filters-controls {
        display: none;
    }
    .mz-filter-options {
        display: none;
    }
    .mz-mobile-filter {
        display: block; 
    }
    .mz-l-sidebaritem-mobile>li:last-child{
        margin-bottom: 65px;
    }
    .mz-mobile-filter .mz-filters .mz-filters-btn {
        padding: 9px 0px 0px !important;
        width: 328px;
        height: 46px;
    }
    i.close-option{
        padding-right: 2%;
    }
    .mz-filters-bar {
        padding-right: 0 !important;
    }
    .mz-sort .selectric .label {
        display: block;
        font-size: 13px;
        line-height: 19px !important;
        height: 0 !important; 
        margin: 0 !important;
        padding: 16px !important;
    }
    .mz-mobile-filter .mz-sort {
        display: inline-block;
        width: 50%;
    }
    .selectric .label {
        font-size: 15px !important;
    }
    .mz-filter-mobile-options .mz-l-sidebar {
        float: none;
        padding-right: 0;
    }
    .mz-page-filters-controls.desktop {
        display: none;
    }
    .mz-category .mz-l-paginatedlist, .mz-searchresults .mz-l-paginatedlist {
        overflow: inherit;
        float: right;
        width: 100% !important;
    }
    .mz-mobile-filter .selectric {
        margin-top: 0 !important;
        height: 54px;
    }
    .mz-filters {
        display: inline-block;
        position: relative;
        width: 49%;
    }
    #selected-filters-mobile{
        background: #fff;
    }
    .mz-facetingform-valuelabel:before {
            content: '';
            display: inline-block;
            width: 18px;
            height: 16px;
            background: none;
            vertical-align: bottom;
            border-radius: 4px;
            border: 1px solid #808080; 
    }
    .mz-filter-mobile-options .filter-level-2 {
        padding-top: 5px !important;
    }
    .mz-facetingform-value {
        display: inline-block;
        margin-left: 10px;
        opacity: 0;
        vertical-align: top;
        position: absolute;
        left: 15px; 
    }
    #selected-filters-mobile{
        background: #fff;
    }
    .selectric-hover .selectric .button:after{
        border-top-color: @primaryBlue; 
    }
}
