/* styles for my projects on my-projects, myaccount & cart */
#mcProjects .mz-productlist-item{
	float: left;
	width: 250px;
}
#mcProjects .mz-productlist-item img{
	max-width: 200px;
	max-height: 200px;
	display: block;
}
#mcProjects .projects-loading{
	
}