
.LP-cat-3xl{
    
    .content{
        position: relative;
        display: inline-block;
        vertical-align: top;
        min-height: 100px;
        span{
            position: absolute;
            text-indent: 10px;
            left: 0;
            color: #fff;
            margin: 0;
            font-size: 24px;
            font-weight: bold;
            @media screen and (max-width: 678px) and (min-width: 320px) {
                font-size: 22px;
            }
            font-weight: 300;
            width: 100%;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            opacity: 0.7;
            bottom: 15px;
            background: white;
            color: @primaryColor;
        }
    }
    &.leftlayout{
        .left{
            display: inline-block;
            vertical-align: top;
        }
        .right{
            display: inline-block;
            vertical-align: top;
        }
        
    }
    &.rightlayout{
        .left{
            display: inline-block;
            vertical-align: top;
        }
        .right{
            display: inline-block;
            vertical-align: top;
        }
    }
}
@media @smallmobile{
    .LP-cat-3xl{
        padding: 0 10px 25px 10px;
        &.leftlayout{
            .left{
                width: 100%;
                padding: 0 0 12.5px 0;
            }
            .right{
                width: 100%;
                padding: 12.5px 0 0 0;
                .content{
                    width: 45%; 
                    &:first-child{
                        margin: 0 12.5px 0 0;
                        span{
                            bottom: 0;
                        }
                    }
                    &:last-child{
                        margin: 0 0 0 12.5px;
                    }
                }
                
            }
        }
        &.rightlayout{
            .left{
                width: 100%;
                padding: 0 0 12.5px 0;
                .content{
                    width: 45%;
                    &:first-child{
                        margin: 0 12.5px 0 0;
                        span{
                            bottom: 0; 
                        }
                    }
                    &:last-child{
                        margin: 0 0 0 12.5px;
                    }
                }
            }
            .right{
                width: 100%;
                padding: 12.5px 0 0 0;
            }
        }
    }
}
@media @tablet{
    .LP-cat-3xl{
        margin-top: 20px;
        padding: 0 10px 25px 10px;
        &.leftlayout{
            .left{
                width: 100%;
                padding: 0 0 12.5px 0;
                .content{
                    width: 100%;
                }
            }
            .right{
                width: 100%;
                padding: 12.5px 0 0 0;
                .content{
                    width: 48%;  
                    &:first-child{
                        margin: 0 12.5px 0 0;
                        span{
                            bottom: 0;
                        }
                    }
                    &:last-child{
                        margin: 0 0 0 12.5px;
                    }
                }
                
            }
        }
        &.rightlayout{
            .left{
                width: 100%;
                padding: 0 0 12.5px 0;
                .content{
                    width: 45%;
                    &:first-child{
                        margin: 0 12.5px 0 0;
                        span{
                            bottom: 0; 
                        }
                    }
                    &:last-child{
                        margin: 0 0 0 12.5px;
                    }
                }
            }
            .right{
                width: 100%;
                padding: 12.5px 0 0 0;
            }
        }
    }
}
@media @desktop{
    .LP-cat-3xl{
        padding: 0 0 27px 0;
        &.leftlayout{
            .left{
                width: 66%;
                padding-right: 6px;
            }
            .right{
                width: 33%;
                padding: 0 0 0 21px;
                .content{
                    width: 100%;
                    &:first-child{
                        padding: 0 0 13px 0;
                        span{
                            bottom: 27.5px;
                        }
                    }
                    &:last-child{
                        padding: 0;
                        padding-top: 13px;
                        margin: 0;
                        span{
                            text-indent: 10px;
                        }
                    }
                }
            }
        }
        &.rightlayout{
            .left{
                width: 33%;
                padding: 0 21px 0 0;
                .content{
                    width: 100%;
                    &:first-child{
                        padding: 0 0 13px 0;
                        span{
                            bottom: 27.5px;
                        }
                    }
                    &:last-child{
                        padding-top: 13px;  
                        margin: 0;
                        span{
                            text-indent: 10px;
                        }
                    }
                }
            }
            .right{
                width: 66%;
                padding-left: 6px;
            }
        }
    }
}