
/*.pr-snippet-wrapper {
border-style: none ;
background: #FFFFFF;
padding: .25em;
text-align: left;
}

.pr-snippet-stars {
border-style: none ;
background: #fff;
padding: .3em;
float: left;
margin-right: .3em;
}

.pr-snippet-review-count {
display:none;
}

.pr-snippet-read-write {
display:none;
}*/








