/*
Fonts Import
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face{ 
    font-family: 'GT-Walsheim-Black';
    src: url(../resources/fonts/GT-Walsheim-Black.eot);
    src: url(../resources/fonts/GT-Walsheim-Black?iefix) format('eot'),
         url(../resources/fontsGT-Walsheim-Black.woff) format('woff'),
         url(../resources/fontsGT-Walsheim-Black.ttf) format('truetype');
}
@font-face{ 
    font-family: 'GT-Walsheim-Black-Oblique';
    src: url(../resources/fonts/GT-Walsheim-Black-Oblique.eot);
    src: url(../resources/fonts/GT-Walsheim-Black-Oblique?iefix) format('eot'),
         url(../resources/fontsGT-Walsheim-Black-Oblique.woff) format('woff'),
         url(../resources/fontsGT-Walsheim-Black-Oblique.ttf) format('truetype');
}
@font-face{ 
    font-family: 'GT-Walsheim-Bold';
    src: url(../resources/fonts/GT-Walsheim-Bold.eot);
    src: url(../resources/fonts/GT-Walsheim-Bold?iefix) format('eot'),
         url(../resources/fontsGT-Walsheim-Bold.woff) format('woff'),
         url(../resources/fontsGT-Walsheim-Bold.ttf) format('truetype');
}
@font-face{ 
    font-family: 'GT-Walsheim-Bold-Oblique';
    src: url(../resources/fonts/GT-Walsheim-Bold-Oblique.eot);
    src: url(../resources/fonts/GT-Walsheim-Bold-Oblique?iefix) format('eot'),
         url(../resources/fontsGT-Walsheim-Bold-Oblique.woff) format('woff'),
         url(../resources/fontsGT-Walsheim-Bold-Oblique.ttf) format('truetype');
}
@font-face{ 
    font-family: 'GT-Walsheim-Medium';
    src: url(../resources/fonts/GT-Walsheim-Medium.eot);
    src: url(../resources/fonts/GT-Walsheim-Medium?iefix) format('eot'),
         url(../resources/fontsGT-Walsheim-Medium.woff) format('woff'),
         url(../resources/fontsGT-Walsheim-Medium.ttf) format('truetype');
}
@font-face{ 
    font-family: 'GT-Walsheim-Medium-Oblique';
    src: url(../resources/fonts/GT-Walsheim-Medium-Oblique.eot);
    src: url(../resources/fonts/GT-Walsheim-Medium-Oblique?iefix) format('eot'),
         url(../resources/fontsGT-Walsheim-Medium-Oblique.woff) format('woff'),
         url(../resources/fontsGT-Walsheim-Medium-Oblique.ttf) format('truetype');
}
@font-face{ 
    font-family: 'GT-Walsheim-Light';
    src: url(../resources/fonts/GT-Walsheim-Light.eot);
    src: url(../resources/fonts/GT-Walsheim-Light?iefix) format('eot'),
         url(../resources/fontsGT-Walsheim-Light.woff) format('woff'),
         url(../resources/fontsGT-Walsheim-Light.ttf) format('truetype');
}
@font-face{ 
    font-family: 'GT-Walsheim-Light-Oblique';
    src: url(../resources/fonts/GT-Walsheim-Light-Oblique.eot);
    src: url(../resources/fonts/GT-Walsheim-Light-Oblique?iefix) format('eot'),
         url(../resources/fontsGT-Walsheim-Light-Oblique.woff) format('woff'),
         url(../resources/fontsGT-Walsheim-Light-Oblique.ttf) format('truetype');
}

@font-face{
	font-family : 'ArvoRegular';
	src: url(../resources/fonts/Arvo-Regular.ttf);
}
@font-face{
	font-family : 'MonstserratLight';
	src: url(../resources/fonts/Montserrat-light.ttf);
}
@font-face {
    font-family: 'MontserratRegular';
    src: url(../resources/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'MontserratSemiBold';
    src: url(../resources/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: 'RobotoLight';
    src: url(../resources/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'RobotoRegular';
    src: url(../resources/fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family : 'MontserratHairline';
    src: url(../resources/fonts/Montserrat-Hairline.ttf);
}

@fontGTWalsheimLight: 'GT-Walsheim-Light', Verdana, sans-serif;;
@fontGTWalsheimLightItalic: 'GT-Walsheim-Light-Obique', Verdana, sans-serif;;
@fontGTWalsheimMedium: 'GT-Walsheim-Medium', Verdana, sans-serif;
@fontGTWalsheimMediumItalic: GT-Walsheim-Medium-Obique, Verdana, sans-serif;
@fontGTWalsheimBold: GT-Walsheim-Bold, Verdana, sans-serif;
@fontGTWalsheimBoldItalic: GT-Walsheim-Bold-Obique, Verdana, sans-serif;;
@fontGTWalsheimBlack: GT-Walsheim-Black, Verdana, sans-serif;;
@fontGTWalsheimBlackItalic: GT-Walsheim-Black-Obique, Verdana, sans-serif;;
@fontArvo: ArvoRegular;
@fontRoboto: RobotoLight;
@RobotoRegular: RobotoRegular;
@fontMontserratLight: 'Montserrat-Regular', sans-serif;
@fontMontserratRegular: 'MontserratRegular', sans-serif;
@fontMontserratBold: MontserratSemiBold;
@fontMontserratHairline: MontserratHairline;





@fontFamily:            @fontGTWalsheimMedium;
@fontSize:              {{ themeSettings.fontSize }};
@fontSizeSmall:         @fontSize - 2px;
@fontSizeLarger:        @fontSize + 2px;
@fontSizeLarge:         @fontSize + 6px;
@storeBrandingFontSize: 36px;

@dark-blue:#0d3762;
@latel-green:#00af9a;
@latel-grey:#dceaf6;
@dark-grey:#303030;
@disabled-grey:#707070;
@active-grey:#000;

@textColor:             {{ themeSettings.textColor }};
@linkColor:             #4F4F4F;
@linkHoverColor:        #666;
@linkVisitedColor:      #3F3F3F;
@errorText:             #b94a48;
@errorBackground:       #f2dede;
@warningText:           @textColor;
@warningBackground:     #ffefcf;
@successText:           @textColor;
@successBackground:     #eef2ee;

@availableText:         #237e0e;
@unavailableText:       #ae1231;

@bodyBackgroundColor:   {{ themeSettings.bodyBackgroundColor }};

@errorBorder:           darken(spin(@errorBackground, -10), 3%);
@successBorder:         darken(spin(@successBackground, -10), 3%);
@warningBorder:         darken(spin(@warningBackground, -10), 3%);

@errorIcon:				"../resources/images/error-exclamation.png";
@columnWidth-2col:		435px;
@gutter:				{{themeSettings.gutterWidth}};
@inputBorder:			#a7a7a7;

@defaultTileHeight:            250px;
@defaultTileWidth:             250px;
@productTileHeight:            360px;
@productTileWidth:             @defaultTileWidth;
@addressTileHeight:            240px;
@addressTileWidth:             @defaultTileWidth;
@productImagesContainerWidth:  {{ themeSettings.productImagesContainerWidth }}px;
@orderDetailWidth:      200px;
@itemListingThumbSize:  {{ themeSettings.itemListingThumbSize }};
@productListingThumbSize: {{ themeSettings.listProductThumbSize }}px;


@background: #dceaf6;
@backgroundSeconderyCTA: #00af9a;
@disabledBTN: #d1d2d4;


